Repository DioxusLabs/dioxus, pull requests merged in 2023-07, with the labels that each got.

#1147 Fix playwrite tests
  playwrite-tests/fullstack/Cargo.toml
  playwrite-tests/fullstack/src/main.rs
Labels: ci, fullstack

#949 Add timeout count example
  packages/web/Cargo.toml
  packages/web/examples/README.md
  packages/web/examples/timeout_count.rs
Labels: example

#1139 Add on unmount hook
  packages/hooks/Cargo.toml
  packages/hooks/src/lib.rs
  packages/hooks/src/use_on_unmount.rs
Labels: enhancement, hooks

#1128 feat(docs): Improved shared state, use_effect and use_memo docs
  docs/guide/src/en/SUMMARY.md
  docs/guide/src/en/async/use_effect.md
  docs/guide/src/en/interactivity/memoization.md
  docs/guide/src/en/interactivity/sharing_state.md
  examples/shared_state.rs
  packages/hooks/src/useeffect.rs
  packages/hooks/src/usememo.rs
Labels: documentation, enhancement

#1112 Fix the issue of duplicate unique ID for atoms using `newtype`.
  .github/workflows/macos.yml
  .github/workflows/windows.yml
  docs/guide/src/en/__unused/advanced-guides/12-signals.md
  docs/guide/src/en/async/use_coroutine.md
  docs/guide/src/en/best_practices/error_handling.md
  docs/guide/src/pt-br/async/use_coroutine.md
  docs/guide/src/pt-br/best_practices/error_handling.md
  examples/fermi.rs
  packages/fermi/README.md
  packages/fermi/src/atoms/atom.rs
  packages/fermi/src/atoms/atomfamily.rs
  packages/fermi/src/atoms/atomref.rs
  packages/fermi/src/hooks/atom_ref.rs
  packages/fermi/src/hooks/state.rs
  packages/fermi/src/root.rs
Labels: bug, fermi

#1196 Add nicer debug messaging in trace level for hydration
  packages/web/src/rehydrate.rs
Labels: web, tweak

#1094 hooks.md and walkthrough_readme.md updates.
  docs/guide/src/en/contributing/walkthrough_readme.md
  docs/guide/src/en/interactivity/hooks.md
Labels: documentation, enhancement

#1213 Prepare for Sledgehammer Bindgen in Liveview
  packages/core/src/scopes.rs
  packages/liveview/src/adapters/axum_adapter.rs
  packages/liveview/src/adapters/salvo_adapter.rs
  packages/liveview/src/adapters/warp_adapter.rs
  packages/liveview/src/pool.rs
  packages/signals/src/lib.rs
Labels: breaking, liveview

#1074 Add directory support for file input.
  examples/file_upload.rs
  packages/desktop/src/file_upload.rs
  packages/desktop/src/protocol.rs
  packages/html/src/elements.rs
  packages/interpreter/src/common.js
  packages/interpreter/src/sledgehammer_bindings.rs
Labels: enhancement, html

#1220 Don't use boxed cell slice, use a refcell instead
  packages/core/src/create.rs
  packages/core/src/diff.rs
  packages/core/src/nodes.rs
  packages/core/src/scope_arena.rs
  packages/core/src/virtual_dom.rs
  packages/core/tests/task.rs
  packages/dioxus-tui/examples/colorpicker.rs
  packages/web/src/rehydrate.rs
Labels: core, breaking, unsafe

#1224 Improve auto formatting multiline raw attributes/event handlers
  packages/autofmt/Cargo.toml
  packages/autofmt/src/collect_macros.rs
  packages/autofmt/src/component.rs
  packages/autofmt/src/element.rs
  packages/autofmt/src/expr.rs
  packages/autofmt/src/lib.rs
  packages/cli/src/cli/autoformat.rs
Labels: bug, autoformatting

#1210 Move desktop hot reload into the CLI
  packages/cli/Cargo.toml
  packages/cli/src/builder.rs
  packages/cli/src/cli/build.rs
  packages/cli/src/cli/cfg.rs
  packages/cli/src/cli/serve.rs
  packages/cli/src/config.rs
  packages/cli/src/server/desktop/mod.rs
  packages/cli/src/server/mod.rs
  packages/cli/src/server/output.rs
  packages/cli/src/server/web/hot_reload.rs
  packages/cli/src/server/web/mod.rs
  packages/cli/src/server/web/proxy.rs
Labels: enhancement, cli

#1229 Optimize the remove_attribute function
  packages/interpreter/src/interpreter.js
  packages/interpreter/src/sledgehammer_bindings.rs
Labels: tweak, javascript

#1199 Use server function hook
  packages/fullstack/examples/axum-hello-world/Cargo.toml
  packages/fullstack/examples/axum-hello-world/src/main.rs
  packages/fullstack/examples/salvo-hello-world/Cargo.toml
  packages/fullstack/examples/salvo-hello-world/src/main.rs
  packages/fullstack/examples/warp-hello-world/Cargo.toml
  packages/fullstack/examples/warp-hello-world/src/main.rs
  packages/fullstack/src/hooks/mod.rs
  packages/fullstack/src/hooks/server_cached.rs
  packages/fullstack/src/hooks/server_future.rs
  packages/fullstack/src/html_storage/deserialize.rs
  packages/fullstack/src/html_storage/mod.rs
  packages/fullstack/src/html_storage/serialize.rs
  packages/fullstack/src/lib.rs
  packages/fullstack/src/props_html/deserialize_props.rs
  packages/fullstack/src/props_html/mod.rs
  packages/fullstack/src/render.rs
  packages/fullstack/src/server_context.rs
  packages/router/src/incremental.rs
  packages/ssr/src/incremental.rs
Labels: enhancement, fullstack

#926 Prevent default redirect on web forms
  packages/web/src/dom.rs
Labels: bug, web

#1235 Fix use_future always spawning a new task and never updating
  packages/hooks/src/usefuture.rs
Labels: bug, hooks

#1233 Log errors when a component fails to render
  packages/core/src/any_props.rs
Labels: core, tweak

#1234 Fix route prerendering
  packages/router/src/incremental.rs
Labels: bug, router, ssr

#1245 Make new enum router less breaking
  docs/router/examples/dynamic_route.rs
  docs/router/examples/external_link.rs
  docs/router/examples/full_example.rs
  docs/router/examples/links.rs
  examples/crm.rs
  examples/flat_router.rs
  examples/link.rs
  examples/router.rs
  examples/simple_desktop.rs
  packages/fullstack/examples/axum-router/src/main.rs
  packages/fullstack/examples/static-hydrated/src/main.rs
  packages/router/README.md
  packages/router/examples/simple_routes.rs
  packages/router/src/components/link.rs
  packages/router/src/navigation.rs
  packages/router/tests/via_ssr/link.rs
Labels: breaking, router

#1244 Add is_child_of function to Routable
  packages/router/src/routable.rs
Labels: enhancement, router

#1254 Create cli bundle command
  packages/cli/Cargo.toml
  packages/cli/src/assets/dioxus.toml
  packages/cli/src/assets/icon.ico
  packages/cli/src/cli/bundle.rs
  packages/cli/src/cli/cfg.rs
  packages/cli/src/cli/mod.rs
  packages/cli/src/config.rs
  packages/cli/src/main.rs
Labels: enhancement, cli

#1252 Remove autogenerated functions/components from the routable macro
  docs/guide/src/en/interactivity/router.md
  docs/guide/src/pt-br/interactivity/router.md
  docs/posts/release-0-2-0.md
  docs/router/examples/catch_all.rs
  docs/router/examples/dynamic_route.rs
  docs/router/examples/external_link.rs
  docs/router/examples/first_route.rs
  docs/router/examples/full_example.rs
  docs/router/examples/history_provider.rs
  docs/router/examples/links.rs
  docs/router/examples/navigator.rs
  docs/router/examples/nested_routes.rs
  docs/router/examples/outlet.rs
  docs/router/examples/router_cfg.rs
  docs/router/examples/routing_update.rs
  examples/crm.rs
  examples/flat_router.rs
  examples/link.rs
  examples/read_size.rs
  examples/router.rs
  examples/simple_desktop.rs
  packages/cli/src/cli/check/mod.rs
  packages/fullstack/src/router.rs
  packages/router-macro/src/lib.rs
  packages/router/README.md
  packages/router/benches/incremental.rs
  packages/router/examples/simple_routes.rs
  packages/router/examples/static_generation.rs
  packages/router/src/components/default_errors.rs
  packages/router/src/components/history_buttons.rs
  packages/router/src/components/link.rs
  packages/router/src/components/outlet.rs
  packages/router/src/components/router.rs
  packages/router/src/contexts/navigator.rs
  packages/router/src/contexts/outlet.rs
  packages/router/src/contexts/router.rs
  packages/router/src/history/mod.rs
  packages/router/src/hooks/use_navigator.rs
  packages/router/src/hooks/use_route.rs
  packages/router/src/hooks/use_router.rs
  packages/router/src/incremental.rs
  packages/router/src/navigation.rs
  packages/router/src/routable.rs
  packages/router/src/router_cfg.rs
  packages/router/src/utils/use_router_internal.rs
  packages/router/tests/via_ssr/link.rs
  packages/router/tests/via_ssr/outlet.rs
Labels: breaking, router

#1255 Make more of core private
  packages/core/src/nodes.rs
  packages/core/tests/fuzzing.rs
  packages/html/src/events.rs
  packages/native-core/tests/fuzzing.rs
  packages/ssr/src/renderer.rs
  packages/web/src/rehydrate.rs
Labels: core, breaking

#1260 Make deprecated use router
  examples/router.rs
  packages/router-macro/src/layout.rs
  packages/router-macro/src/lib.rs
  packages/router-macro/src/route.rs
  packages/router/src/components/default_errors.rs
  packages/router/src/components/link.rs
  packages/router/src/contexts/navigator.rs
  packages/router/src/contexts/router.rs
  packages/router/src/history/mod.rs
  packages/router/src/hooks/use_router.rs
  packages/router/src/lib.rs
  packages/router/src/router_cfg.rs
Labels: router

#1264 Don't spawn a new tokio runtime every fullstack request
  packages/fullstack/Cargo.toml
  packages/fullstack/src/adapters/mod.rs
Labels: enhancement, fullstack

#1263 Switch to launch builder instead of macro for fullstack
  packages/fullstack/Cargo.toml
  packages/fullstack/examples/axum-auth/src/main.rs
  packages/fullstack/examples/axum-desktop/src/server.rs
  packages/fullstack/examples/axum-hello-world/Cargo.toml
  packages/fullstack/examples/axum-hello-world/src/main.rs
  packages/fullstack/examples/axum-router/Cargo.toml
  packages/fullstack/examples/axum-router/src/main.rs
  packages/fullstack/examples/salvo-hello-world/src/main.rs
  packages/fullstack/examples/warp-hello-world/src/main.rs
  packages/fullstack/src/adapters/axum_adapter.rs
  packages/fullstack/src/adapters/salvo_adapter.rs
  packages/fullstack/src/launch.rs
  packages/fullstack/src/lib.rs
Labels: fullstack
