Repository DioxusLabs/dioxus, pull requests merged in 2023-05, with the labels that each got.

#996 Fix the link to tui widgets in the guide
  docs/guide/src/en/custom_renderer/index.md
  docs/guide/src/en/getting_started/tui.md
Labels: documentation, tui

#973 added select element example
  examples/inputs.rs
Labels: example

#997 Devcontainer for Contributors
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/devcontainer.json
Labels: enhancement

#1002 Fix duplicate example and test names
  packages/dioxus-tui/examples/all_terminal_events.rs
  packages/dioxus-tui/examples/components.rs
  packages/dioxus-tui/examples/many_small_edit_stress.rs
  packages/dioxus-tui/examples/quadrants.rs
  packages/dioxus-tui/examples/readme_hello_world.rs
  packages/native-core/src/tree.rs
  packages/rink/examples/counter_button.rs
  packages/rink/src/widget.rs
  packages/router/examples/simple_routes.rs
Labels: tweak, organization

#1021 Fix web events starting on a text node
  packages/web/src/dom.rs
Labels: bug, web

#1028 Add use element to html
  packages/html/src/elements.rs
Labels: html

#980 Improve the custom hooks chapter in the guide
  docs/guide/Cargo.toml
  docs/guide/examples/hooks_anti_patterns.rs
  docs/guide/examples/hooks_composed.rs
  docs/guide/examples/hooks_custom_logic.rs
  docs/guide/src/en/interactivity/custom_hooks.md
Labels: documentation

#995 Mock Desktop Tests
  Makefile.toml
  packages/desktop/Cargo.toml
  packages/desktop/headless_tests/events.rs
  packages/desktop/headless_tests/rendering.rs
Labels: desktop, ci

#894 Create onmounted Event
  examples/control_focus.rs
  examples/read_size.rs
  examples/scroll_to_top.rs
  packages/desktop/src/desktop_context.rs
  packages/desktop/src/element.rs
  packages/desktop/src/eval.rs
  packages/desktop/src/lib.rs
  packages/desktop/src/query.rs
  packages/dioxus-tui/src/element.rs
  packages/dioxus-tui/src/lib.rs
  packages/html/Cargo.toml
  packages/html/src/events.rs
  packages/html/src/events/mounted.rs
  packages/html/src/transit.rs
  packages/html/src/web_sys_bind/events.rs
  packages/interpreter/Cargo.toml
  packages/interpreter/src/interpreter.js
  packages/interpreter/src/sledgehammer_bindings.rs
  packages/liveview/Cargo.toml
  packages/liveview/src/element.rs
  packages/liveview/src/lib.rs
  packages/liveview/src/main.js
  packages/liveview/src/pool.rs
  packages/liveview/src/query.rs
  packages/rink/src/query.rs
  packages/web/src/dom.rs
Labels: enhancement

#912 Create complete tailwind example project with steps to setup tailwind
  Cargo.toml
  examples/tailwind/Cargo.toml
  examples/tailwind/Dioxus.toml
  examples/tailwind/README.md
  examples/tailwind/input.css
  examples/tailwind/public/tailwind.css
  examples/tailwind/src/main.rs
  examples/tailwind/tailwind.config.js
Labels: documentation

#916 Fullstack Utilities Crate (server functions)
  Cargo.toml
  docs/guide/Cargo.toml
  docs/guide/examples/hydration.rs
  docs/guide/examples/hydration_props.rs
  docs/guide/examples/server_basic.rs
  docs/guide/examples/server_context.rs
  docs/guide/examples/server_context_state.rs
  docs/guide/examples/server_function.rs
  docs/guide/src/en/SUMMARY.md
  docs/guide/src/en/fullstack/getting_started.md
  docs/guide/src/en/fullstack/index.md
  docs/guide/src/en/fullstack/server_functions.md
  docs/guide/src/en/getting_started/fullstack.md
  docs/guide/src/en/getting_started/hot_reload.md
  docs/guide/src/en/getting_started/ssr.md
  docs/guide/src/en/getting_started/web.md
  packages/fullstack/.gitignore
  packages/fullstack/Cargo.toml
  packages/fullstack/README.md
  packages/fullstack/examples/axum-desktop/.gitignore
  packages/fullstack/examples/axum-desktop/Cargo.toml
  packages/fullstack/examples/axum-desktop/src/client.rs
  packages/fullstack/examples/axum-desktop/src/lib.rs
  packages/fullstack/examples/axum-desktop/src/server.rs
  packages/fullstack/examples/axum-hello-world/.gitignore
  packages/fullstack/examples/axum-hello-world/Cargo.toml
  packages/fullstack/examples/axum-hello-world/src/main.rs
  packages/fullstack/examples/axum-router/.gitignore
  packages/fullstack/examples/axum-router/Cargo.toml
  packages/fullstack/examples/axum-router/src/main.rs
  packages/fullstack/examples/salvo-hello-world/.gitignore
  packages/fullstack/examples/salvo-hello-world/Cargo.toml
  packages/fullstack/examples/salvo-hello-world/src/main.rs
  packages/fullstack/examples/warp-hello-world/.gitignore
  packages/fullstack/examples/warp-hello-world/Cargo.toml
  packages/fullstack/examples/warp-hello-world/src/main.rs
  packages/fullstack/server-macro/Cargo.toml
  packages/fullstack/server-macro/src/lib.rs
  packages/fullstack/src/adapters/axum_adapter.rs
  packages/fullstack/src/adapters/mod.rs
  packages/fullstack/src/adapters/salvo_adapter.rs
  packages/fullstack/src/adapters/warp_adapter.rs
  packages/fullstack/src/hot_reload.rs
  packages/fullstack/src/lib.rs
  packages/fullstack/src/props_html/deserialize_props.rs
  packages/fullstack/src/props_html/mod.rs
  packages/fullstack/src/props_html/serialize_props.rs
  packages/fullstack/src/render.rs
  packages/fullstack/src/serve_config.rs
  packages/fullstack/src/server_context.rs
  packages/fullstack/src/server_fn.rs
  packages/router/src/components/router.rs
  packages/ssr/src/renderer.rs
  packages/web/src/lib.rs
Labels: enhancement

#1033 Use more precise timestamp in hot reloading
  packages/hot-reload/src/lib.rs
Labels: bug, cli

#976 Fix links in Liveview
  packages/desktop/src/protocol.rs
  packages/interpreter/src/bindings.rs
  packages/interpreter/src/interpreter.js
  packages/liveview/src/main.js
Labels: bug, liveview

#1039 Fix URL encoded desktop assets
  packages/desktop/Cargo.toml
  packages/desktop/src/protocol.rs
Labels: bug, desktop

#1044 Clarify hooks rules to mention early returns
  docs/guide/src/en/interactivity/hooks.md
Labels: documentation, hooks

#895 Allow raw elements if they include a dash
  examples/web_component.rs
  packages/rsx-rosetta/src/lib.rs
  packages/rsx/src/element.rs
  packages/rsx/src/lib.rs
  packages/rsx/src/node.rs
Labels: core, tweak
