Repository DioxusLabs/dioxus, pull requests merged in 2023-06, with the labels that each got.

#1055 Fix hot reloading with namespaces
  packages/core/src/nodes.rs
Labels: bug, core

#1066 Update All Element Ids
  packages/core/src/diff.rs
Labels: bug, core

#1063 Add initial_value attribute & fix static special attribute handling
  packages/desktop/src/protocol.rs
  packages/html/src/elements.rs
  packages/interpreter/Cargo.toml
  packages/interpreter/src/common.js
  packages/interpreter/src/interpreter.js
  packages/interpreter/src/lib.rs
  packages/interpreter/src/sledgehammer_bindings.rs
  packages/web/Cargo.toml
  packages/web/src/dom.rs
Labels: enhancement, html

#1062 Fix autoformatting raw strings
  packages/autofmt/src/buffer.rs
  packages/autofmt/src/component.rs
  packages/autofmt/src/element.rs
  packages/autofmt/src/lib.rs
  packages/autofmt/src/writer.rs
  packages/autofmt/tests/samples.rs
  packages/autofmt/tests/samples/complex.rsx
  packages/autofmt/tests/samples/raw_strings.rsx
  packages/autofmt/tests/wrong.rs
Labels: bug, autoformatting

#1065 Fix panic when events trigger on placeholders
  packages/core/src/virtual_dom.rs
Labels: bug, core

#1099 replace unmaintained actions-rs/* actions in CI workflows
  .github/workflows/macos.yml
  .github/workflows/main.yml
Labels: ci

#1109 Update fermi badge links.
  packages/fermi/README.md
Labels: documentation

#1105 Workspace Dependancies
  Cargo.toml
  packages/autofmt/Cargo.toml
  packages/core-macro/Cargo.toml
  packages/core/Cargo.toml
  packages/desktop/Cargo.toml
  packages/dioxus-tui/Cargo.toml
  packages/dioxus/Cargo.toml
  packages/fermi/Cargo.toml
  packages/fullstack/Cargo.toml
  packages/fullstack/examples/axum-desktop/Cargo.toml
  packages/fullstack/examples/axum-hello-world/Cargo.toml
  packages/fullstack/examples/axum-router/Cargo.toml
  packages/fullstack/examples/salvo-hello-world/Cargo.toml
  packages/fullstack/examples/warp-hello-world/Cargo.toml
  packages/hooks/Cargo.toml
  packages/hot-reload/Cargo.toml
  packages/html/Cargo.toml
  packages/interpreter/Cargo.toml
  packages/liveview/Cargo.toml
  packages/mobile/Cargo.toml
  packages/native-core-macro/Cargo.toml
  packages/native-core/Cargo.toml
  packages/rink/Cargo.toml
  packages/router/Cargo.toml
  packages/rsx-rosetta/Cargo.toml
  packages/rsx/Cargo.toml
  packages/signals/Cargo.toml
  packages/ssr/Cargo.toml
  packages/web/Cargo.toml
Labels: dependencies

#1060 Fix restarting MacOs hot reloading after a forced exit
  packages/hot-reload/src/lib.rs
Labels: bug

#945 make new_window return desktop context instead of webview
  packages/desktop/src/desktop_context.rs
  packages/desktop/src/lib.rs
  packages/desktop/src/shortcut.rs
  packages/desktop/src/webview.rs
Labels: enhancement, breaking, desktop

#877 Don't accept raw attributes in components without trailing commas
  packages/router/tests/web_router.rs
  packages/rsx/src/component.rs
Labels: bug, breaking

#1104 Fix boolean attributes with raw boolean values
  packages/interpreter/src/common.js
  packages/interpreter/src/sledgehammer_bindings.rs
Labels: bug

#1084 fix: Properly drop UseFuture's values to avoid leaking memory
  packages/hooks/src/usefuture.rs
Labels: bug, core

#981 Update crossterm version
  packages/dioxus-tui/Cargo.toml
  packages/dioxus-tui/tests/events.rs
  packages/rink/Cargo.toml
  packages/rink/src/hooks.rs
  packages/rink/src/lib.rs
Labels: breaking, tui, dependencies

#1010 Fix the onload event
  packages/html/src/events.rs
  packages/html/src/events/image.rs
  packages/html/src/input_data.rs
  packages/html/src/transit.rs
  packages/interpreter/src/interpreter.js
  packages/web/src/dom.rs
Labels: bug, breaking

#898 Make web and desktop use_eval compatible
  packages/web/src/util.rs
Labels: web, breaking, tweak

#1064 Expanded fuzzing
  packages/core/tests/fuzzing.rs
Labels: core

#1057 Add richer API for describing global shortcut accelerators.
  examples/shortcut.rs
  packages/desktop/src/desktop_context.rs
  packages/desktop/src/shortcut.rs
Labels: enhancement, breaking, desktop

#1036 feat: Move layout_attributes behind a feature in native-core
  packages/native-core/Cargo.toml
  packages/native-core/src/lib.rs
  packages/rink/Cargo.toml
Labels: breaking, native-core
