Repository DioxusLabs/dioxus, pull requests merged in 2023-09, with the labels that each got.

#1409 Make incremental a cfg feature.
  packages/ssr/Cargo.toml
  packages/ssr/src/lib.rs
Labels: tweak, ssr

#1417 Add query segment example and documentation
  Cargo.toml
  examples/query_segments_demo/Cargo.toml
  examples/query_segments_demo/src/main.rs
  packages/router/src/contexts/router.rs
  packages/router/src/routable.rs
  packages/web/src/dom.rs
Labels: documentation, enhancement

#1404 Improve CLI docs
  packages/cli/Dioxus.toml
  packages/cli/README.md
  packages/cli/docs/book.toml
  packages/cli/docs/src/SUMMARY.md
  packages/cli/docs/src/cmd/README.md
  packages/cli/docs/src/cmd/build.md
  packages/cli/docs/src/cmd/clean.md
  packages/cli/docs/src/cmd/serve.md
  packages/cli/docs/src/cmd/translate.md
  packages/cli/docs/src/configure.md
  packages/cli/docs/src/creating.md
  packages/cli/docs/src/installation.md
  packages/cli/docs/src/introduction.md
  packages/cli/docs/src/plugin/README.md
  packages/cli/docs/src/plugin/interface/command.md
  packages/cli/docs/src/plugin/interface/dirs.md
  packages/cli/docs/src/plugin/interface/log.md
  packages/cli/docs/src/plugin/interface/network.md
  packages/cli/docs/src/plugin/interface/os.md
  packages/cli/docs/src/plugin/interface/path.md
Labels: documentation, cli

#1410 fix: prettier_build unavailabe
  packages/cli/Cargo.toml
  packages/cli/src/builder.rs
  packages/cli/src/cli/build.rs
  packages/cli/src/server/web/mod.rs
Labels: cli

#1415 Pin Tauri dependencies to a minor version
  packages/cli/Cargo.toml
Labels: bug, cli, dependencies

#1412 Forward Wry's devtools, dox and linux-body flags
  packages/desktop/Cargo.toml
Labels: enhancement, desktop

#1420 Only collect the rsx and render macros in autofmt
  packages/autofmt/src/collect_macros.rs
Labels: bug, autoformatting

#1424 Bump the dioxus-cli to 0.4.1
  packages/cli/Cargo.toml
  packages/cli/src/builder.rs
  packages/cli/src/cli/build.rs
  packages/cli/src/lib.rs
  packages/cli/src/server/web/mod.rs
Labels: cli

#1376 Find attributes and components to drop when rendering any lazy nodes
  packages/core/src/nodes.rs
Labels: bug, core

#1407 Url decode routes
  packages/router-macro/src/lib.rs
  packages/router-macro/src/query.rs
  packages/router-macro/src/route_tree.rs
  packages/router-macro/src/segment.rs
  packages/router/Cargo.toml
  packages/router/src/lib.rs
  packages/router/src/routable.rs
Labels: enhancement, web, router

#1389 Use a `gen` in `PartialEq` for `UseSharedState`
  packages/hooks/src/use_shared_state.rs
Labels: enhancement, breaking, hooks

#1436 Switch to tracing for logging
  Cargo.toml
  packages/core/Cargo.toml
  packages/core/src/any_props.rs
  packages/core/src/diff.rs
  packages/core/src/events.rs
  packages/core/src/scope_arena.rs
  packages/core/src/scope_context.rs
  packages/core/src/virtual_dom.rs
  packages/desktop/Cargo.toml
  packages/desktop/src/desktop_context.rs
  packages/desktop/src/lib.rs
  packages/desktop/src/query.rs
  packages/dioxus/Cargo.toml
  packages/fermi/Cargo.toml
  packages/fermi/src/root.rs
  packages/fullstack/Cargo.toml
  packages/fullstack/examples/axum-hello-world/Cargo.toml
  packages/fullstack/examples/axum-hello-world/src/main.rs
  packages/fullstack/examples/salvo-hello-world/Cargo.toml
  packages/fullstack/examples/salvo-hello-world/src/main.rs
  packages/fullstack/examples/warp-hello-world/Cargo.toml
  packages/fullstack/examples/warp-hello-world/src/main.rs
  packages/fullstack/src/adapters/axum_adapter.rs
  packages/fullstack/src/adapters/salvo_adapter.rs
  packages/fullstack/src/adapters/warp_adapter.rs
  packages/fullstack/src/hooks/server_cached.rs
  packages/fullstack/src/hooks/server_future.rs
  packages/fullstack/src/hot_reload.rs
  packages/fullstack/src/html_storage/deserialize.rs
  packages/fullstack/src/html_storage/mod.rs
  packages/fullstack/src/layer.rs
  packages/fullstack/src/render.rs
  packages/fullstack/src/router.rs
  packages/hooks/Cargo.toml
  packages/html/src/events/mouse.rs
  packages/liveview/Cargo.toml
  packages/liveview/src/query.rs
  packages/router/Cargo.toml
  packages/router/src/components/history_buttons.rs
  packages/router/src/components/link.rs
  packages/router/src/history/web.rs
  packages/router/src/history/web_hash.rs
  packages/router/src/incremental.rs
  packages/router/src/routable.rs
  packages/signals/Cargo.toml
  packages/signals/src/signal.rs
  packages/ssr/Cargo.toml
  packages/ssr/src/incremental.rs
  packages/web/Cargo.toml
  packages/web/examples/hydrate.rs
  packages/web/src/eval.rs
  packages/web/src/lib.rs
  packages/web/src/rehydrate.rs
Labels: tweak

#1440 Fix use_future docs
  packages/hooks/src/usefuture.rs
Labels: bug, documentation

#1382 Fix docs.rs build for desktop
  packages/desktop/Cargo.toml
Labels: bug, documentation

#1446 Deduplicate serve code with hot reloading in the CLI crate
  packages/cli/src/server/desktop/mod.rs
  packages/cli/src/server/mod.rs
  packages/cli/src/server/web/hot_reload.rs
  packages/cli/src/server/web/mod.rs
  packages/core/src/diff.rs
Labels: bug, cli

#1315 Handle oninput for select elements
  packages/interpreter/src/interpreter.js
Labels: bug

#1298 Fix parsing spread routes
  packages/router-macro/src/route.rs
Labels: bug, router

#1322 Fix events with a text node target
  packages/interpreter/src/interpreter.js
Labels: bug, desktop

#1441 Expose public methods for manipulating the global runtime
  packages/core/src/lib.rs
  packages/core/src/runtime.rs
  packages/core/src/virtual_dom.rs
Labels: core

#1313 Return more useful messages when a server function errors
  packages/fullstack/src/adapters/axum_adapter.rs
  packages/fullstack/src/adapters/warp_adapter.rs
Labels: enhancement, fullstack

#1475 Restore the tray feature in the desktop crate
  packages/desktop/Cargo.toml
Labels: bug, desktop

#1480 Fix playwright tests on windows
  playwright-tests/playwright.config.js
Labels: bug, ci

#1481 liveview: Add `interpreter_glue_relative_uri
  packages/liveview/examples/axum.rs
  packages/liveview/src/lib.rs
Labels: enhancement, liveview
