Repository DioxusLabs/dioxus, pull requests merged in 2023-10, with the labels that each got.

#1497 Add `use_on_mount` and fix some typos
  packages/hooks/src/lib.rs
  packages/hooks/src/use_effect.rs
  packages/hooks/src/use_on_create.rs
  packages/hooks/src/use_on_destroy.rs
Labels: enhancement, hooks

#1447 feat: Remove unused deps
  packages/check/Cargo.toml
  packages/cli/Cargo.lock
  packages/cli/Cargo.toml
  packages/cli/src/builder.rs
  packages/dioxus-tui/Cargo.toml
  packages/native-core/Cargo.toml
Labels: dependencies

#1550 Make signal callable on stable
  packages/generational-box/src/lib.rs
  packages/signals/src/rt.rs
  packages/signals/src/signal.rs
  packages/signals/tests/create.rs
Labels: enhancement, signals

#1546 Change the semantics of exprs/for loops allocations strategy
  examples/signals.rs
  packages/core/src/lib.rs
  packages/rsx/src/node.rs
  packages/signals/src/signal.rs
Labels: core, tweak

#1500 Add openidconnect authentication demo
  .cargo/config.toml
  Cargo.toml
  examples/openid_connect_demo/.gitignore
  examples/openid_connect_demo/Cargo.toml
  examples/openid_connect_demo/Dioxus.toml
  examples/openid_connect_demo/README.md
  examples/openid_connect_demo/src/constants.rs
  examples/openid_connect_demo/src/errors.rs
  examples/openid_connect_demo/src/main.rs
  examples/openid_connect_demo/src/model/mod.rs
  examples/openid_connect_demo/src/model/user.rs
  examples/openid_connect_demo/src/oidc.rs
  examples/openid_connect_demo/src/props/client.rs
  examples/openid_connect_demo/src/props/mod.rs
  examples/openid_connect_demo/src/router.rs
  examples/openid_connect_demo/src/storage.rs
  examples/openid_connect_demo/src/views/header.rs
  examples/openid_connect_demo/src/views/home.rs
  examples/openid_connect_demo/src/views/login.rs
  examples/openid_connect_demo/src/views/mod.rs
  examples/openid_connect_demo/src/views/not_found.rs
Labels: enhancement, example

#1527 feat: Optional web support for hot-reload crate
  packages/hot-reload/Cargo.toml
  packages/hot-reload/src/file_watcher.rs
  packages/hot-reload/src/lib.rs
Labels: hot-reload

#1551 Fix using signals outside of a scope
  packages/desktop/src/protocol.rs
  packages/signals/src/effect.rs
  packages/signals/src/selector.rs
  packages/signals/src/signal.rs
Labels: bug, tweak, signals

#1570 Add error message when overlapping fullstack features are enabled
  packages/fullstack/src/launch.rs
  packages/fullstack/src/lib.rs
Labels: tweak, fullstack

#1558 Add an readable error when you name a prop key
  packages/core-macro/src/props/mod.rs
Labels: enhancement, core, tweak

#1505 Implement LiveView Router Integration
  packages/router/Cargo.toml
  packages/router/examples/simple_routes.rs
  packages/router/src/components/history_buttons.rs
  packages/router/src/contexts/router.rs
  packages/router/src/history/liveview.rs
  packages/router/src/history/mod.rs
Labels: enhancement, router, liveview
