Repository DioxusLabs/dioxus, pull requests merged in 2023-08, with the labels that each got.

#1265 Create default enabled features for large web events
  packages/html/Cargo.toml
  packages/html/src/web_sys_bind/events.rs
  packages/web/Cargo.toml
  packages/web/src/dom.rs
  packages/web/src/hot_reload.rs
  packages/web/src/lib.rs
Labels: web, tweak

#1253 Fix finding files with a custom map_path
  packages/ssr/src/incremental.rs
Labels: bug, ssr

#1251 Make SsrState public
  packages/fullstack/src/render.rs
Labels: enhancement, fullstack

#1230 Add computed hook
  packages/hooks/Cargo.toml
  packages/hooks/src/computed.rs
  packages/hooks/src/lib.rs
Labels: enhancement, hooks

#1272 Reject all external routes when parsing a route
  packages/router-macro/src/lib.rs
  packages/router-macro/src/route_tree.rs
Labels: bug, router

#1274 Fix navigator push/replace route
  packages/router/src/contexts/router.rs
Labels: bug, router

#1273 Deduplicate route history
  packages/router/src/history/memory.rs
  packages/router/src/history/web.rs
Labels: bug, router

#1275 Update scroll history lazily when you leave a page
  packages/router/src/history/web.rs
Labels: enhancement, router

#1284 Fix Fullstack docs building
  packages/fullstack/src/server_fn.rs
Labels: bug, fullstack

#1285 Make server function features flexible
  packages/fullstack/Cargo.toml
  packages/server-macro/Cargo.toml
Labels: bug, fullstack

#1332 Separate Parent and Child Component Lifetimes
  packages/core/Cargo.toml
  packages/core/compile_tests/props_safety.rs
  packages/core/compile_tests/props_safety.stderr
  packages/core/src/properties.rs
  packages/core/src/scopes.rs
Labels: bug, core

#1327 Fix the login form example
  examples/login_form.rs
Labels: bug, documentation

#1300 Complete Signals implementation
  Cargo.toml
  examples/clock.rs
  examples/signals.rs
  packages/core/src/arena.rs
  packages/core/src/create.rs
  packages/core/src/diff.rs
  packages/core/src/events.rs
  packages/core/src/lib.rs
  packages/core/src/runtime.rs
  packages/core/src/scheduler/wait.rs
  packages/core/src/scope_arena.rs
  packages/core/src/scope_context.rs
  packages/core/src/scopes.rs
  packages/core/src/virtual_dom.rs
  packages/desktop/src/protocol.rs
  packages/dioxus-tui/examples/hover.rs
  packages/generational-box/Cargo.toml
  packages/generational-box/README.md
  packages/generational-box/src/lib.rs
  packages/hooks/src/computed.rs
  packages/hooks/src/lib.rs
  packages/html/src/eval.rs
  packages/native-core/src/real_dom.rs
  packages/rsx/src/lib.rs
  packages/signals/Cargo.toml
  packages/signals/README.md
  packages/signals/examples/context.rs
  packages/signals/examples/dependancies.rs
  packages/signals/examples/selector.rs
  packages/signals/examples/split_subscriptions.rs
  packages/signals/src/dependency.rs
  packages/signals/src/effect.rs
  packages/signals/src/impls.rs
  packages/signals/src/lib.rs
  packages/signals/src/rt.rs
  packages/signals/src/selector.rs
  packages/signals/src/signal.rs
  packages/signals/tests/create.rs
  packages/signals/tests/effect.rs
  packages/signals/tests/selector.rs
  packages/signals/tests/subscribe.rs
Labels: enhancement, core, signals

#1358 Publish CLI binaries for cargo-binstall
  .github/workflows/cli_release.yml
  packages/cli/Cargo.toml
Labels: enhancement, cli, ci

#1351 Fix the context API in lists
  packages/core/src/diff.rs
Labels: bug, core

#1364 Fix leak in core because of bump allocated Vec
  docs/guide/examples/readme_expanded.rs
  packages/core/src/create.rs
  packages/core/src/diff.rs
  packages/core/src/nodes.rs
  packages/core/tests/fuzzing.rs
  packages/native-core/tests/fuzzing.rs
  packages/rsx/src/lib.rs
Labels: bug, core, breaking

#1258 FileEngine: expose native file types on different platforms
  packages/html/src/events/form.rs
  packages/html/src/native_bind/native_file_engine.rs
  packages/web/src/file_engine.rs
  packages/web/src/lib.rs
Labels: enhancement, html

#1366 Update all uncommented commands to remove actions-rs
  .github/workflows/main.yml
  .github/workflows/playwright.yml
  packages/cli/.github/workflows/main.yml
Labels: ci

#1384 Expose new_in_scope for signals
  packages/signals/src/signal.rs
Labels: enhancement, signals
