Repository DioxusLabs/dioxus, pull requests merged in 2023-12, with the labels that each got.

#1651 Add into attribute value impl for String
  packages/core/src/nodes.rs
Labels: core, tweak

#1634 Fix string memory leak
  packages/core/src/nodes.rs
Labels: bug, core

#1612 Add a noop evaluator to the ssr renderer
  packages/fullstack/examples/axum-hello-world/src/main.rs
  packages/fullstack/src/render.rs
  packages/ssr/Cargo.toml
  packages/ssr/src/eval.rs
  packages/ssr/src/incremental.rs
  packages/ssr/src/lib.rs
Labels: enhancement, ssr

#1383 Add debug information to borrows and ownership in signals
  packages/generational-box/Cargo.toml
  packages/generational-box/README.md
  packages/generational-box/src/lib.rs
  packages/signals/src/effect.rs
  packages/signals/src/impls.rs
  packages/signals/src/rt.rs
  packages/signals/src/signal.rs
Labels: enhancement, signals

#1664 Fix hot reloading svg elements
  packages/hot-reload/src/file_watcher.rs
  packages/html/src/elements.rs
Labels: bug, hot-reload

#1485 Make the layer module public in fullstack
  packages/fullstack/src/layer.rs
  packages/fullstack/src/lib.rs
Labels: fullstack

#1674 Make optional props accept Nothing, T or Option<T>
  examples/optional_props.rs
  packages/core-macro/src/props/mod.rs
Labels: core, tweak

#1653 Fix missing items in hot reloading diffing
  packages/cli/src/logging.rs
  packages/cli/src/server/desktop/mod.rs
  packages/cli/src/server/output.rs
  packages/rsx/Cargo.toml
  packages/rsx/src/hot_reload/hot_reload_diff.rs
  packages/rsx/src/hot_reload/hot_reloading_file_map.rs
Labels: bug, hot-reload

#1576 Fix use shared state lint in release mode
  packages/hooks/src/use_shared_state.rs
Labels: hooks, tweak

#1597 Use indentation settings in dx fmt and vscode extension
  .github/workflows/main.yml
  packages/autofmt/src/buffer.rs
  packages/autofmt/src/element.rs
  packages/autofmt/src/expr.rs
  packages/autofmt/src/indent.rs
  packages/autofmt/src/lib.rs
  packages/autofmt/src/writer.rs
  packages/autofmt/tests/samples.rs
  packages/autofmt/tests/wrong.rs
  packages/autofmt/tests/wrong/comments-4sp.rsx
  packages/autofmt/tests/wrong/comments-4sp.wrong.rsx
  packages/autofmt/tests/wrong/comments-tab.rsx
  packages/autofmt/tests/wrong/comments-tab.wrong.rsx
  packages/autofmt/tests/wrong/multi-4sp.rsx
  packages/autofmt/tests/wrong/multi-4sp.wrong.rsx
  packages/autofmt/tests/wrong/multi-tab.rsx
  packages/autofmt/tests/wrong/multi-tab.wrong.rsx
  packages/autofmt/tests/wrong/multiexpr-4sp.rsx
  packages/autofmt/tests/wrong/multiexpr-4sp.wrong.rsx
  packages/autofmt/tests/wrong/multiexpr-tab.rsx
  packages/autofmt/tests/wrong/multiexpr-tab.wrong.rsx
  packages/cli/src/cli/autoformat.rs
  packages/extension/src/lib.rs
  packages/extension/src/main.ts
Labels: enhancement, cli, vscode extension

#1697 Use a temp directory for the hot reloading pipe
  packages/cli/src/server/desktop/mod.rs
  packages/hot-reload/src/file_watcher.rs
  packages/hot-reload/src/lib.rs
Labels: tweak, hot-reload

#1681 Add a warning about wry gnu support to Dioxus desktop
  packages/desktop/Cargo.toml
  packages/desktop/build.rs
Labels: desktop, tweak

#1698 Fix disconnects that happen while a server function is being resolved
  packages/fullstack/src/adapters/mod.rs
Labels: bug, fullstack

#1689 Wasm target check before build
  packages/cli/src/builder.rs
  packages/cli/src/cli/build.rs
  packages/core/src/diff.rs
  packages/dioxus-tui/examples/colorpicker.rs
  packages/fermi/src/lib.rs
  packages/router-macro/src/redirect.rs
  packages/rsx/src/lib.rs
  packages/signals/examples/split_subscriptions.rs
  packages/web/src/hot_reload.rs
Labels: cli, tweak

#1593 Add read untracked to signals
  packages/signals/src/signal.rs
Labels: enhancement, signals

#1761 feat(liveview): add rocket adapter
  packages/liveview/Cargo.toml
  packages/liveview/README.md
  packages/liveview/examples/rocket.rs
  packages/liveview/src/adapters/rocket_adapter.rs
  packages/liveview/src/lib.rs
Labels: enhancement, liveview

#1764 Send mount event when hydrating
  packages/web/src/dom.rs
  packages/web/src/rehydrate.rs
Labels: bug, fullstack
