Repository DioxusLabs/dioxus, pull requests merged in 2023-04, with the labels that each got.

#928 Add more features to todomvc
  examples/todomvc.rs
Labels: example

#931 doc: fermi: add counter example to readme
  packages/fermi/README.md
Labels: documentation, fermi

#934 Always update root node refs
  packages/core/src/create.rs
  packages/core/src/diff.rs
Labels: bug, core

#927 More resilient keyboard event deserialization
  packages/html/src/events/keyboard.rs
Labels: bug, desktop

#903 Fix non-bubbling listener hydration
  packages/web/src/rehydrate.rs
Labels: bug, web

#942 Fix dangerous_inner_html with SSR
  packages/ssr/src/cache.rs
  packages/ssr/src/renderer.rs
  packages/ssr/tests/inner_html.rs
Labels: bug, ssr

#920 Update docs for the web cfg cache option
  packages/web/src/cfg.rs
Labels: web

#954 Fix Linux Wry dependencies
  .github/workflows/main.yml
  docs/guide/src/en/getting_started/desktop.md
  packages/desktop/src/lib.rs
Labels: documentation, ci

#953 Fix native core dependencies in a different direction than the pass direction
  packages/native-core-macro/src/lib.rs
  packages/native-core/examples/font_size.rs
  packages/native-core/src/lib.rs
  packages/native-core/src/passes.rs
  packages/native-core/src/real_dom.rs
Labels: bug, native-core

#959 Bump sledgehammer-bindgen version
  packages/interpreter/Cargo.toml
  packages/interpreter/src/sledgehammer_bindings.rs
Labels: bug, web, dependencies

#962 Fix non-ascii string decoding
  packages/interpreter/Cargo.toml
Labels: bug, web, dependencies

#975 Fix clippy in the generic component example
  examples/generic_component.rs
Labels: example, ci

#967 Remove unused shipyard-hierarchy
  packages/native-core/Cargo.toml
Labels: dependencies, native-core

#968 Switch debug logs to trace in the router and web crates
  packages/router/src/components/route.rs
  packages/web/src/lib.rs
Labels: tweak

#984 Fix HTML to RSX conversions example
  packages/autofmt/src/element.rs
  packages/rsx-rosetta/Cargo.toml
  packages/rsx-rosetta/tests/simple.rs
Labels: bug, autoformatting

#989 Fix LiveView Tokio features
  packages/liveview/Cargo.toml
Labels: bug, liveview

#952 Fix non-bubbling event propagation
  packages/core/src/virtual_dom.rs
Labels: bug, core

#974 Fix selected and checked with boolean attributes
  packages/interpreter/src/interpreter.js
Labels: bug, desktop, liveview

#965 Implement file engine on each platform
  examples/file_upload.rs
  packages/desktop/Cargo.toml
  packages/desktop/src/file_upload.rs
  packages/desktop/src/lib.rs
  packages/desktop/src/protocol.rs
  packages/html/Cargo.toml
  packages/html/src/events/form.rs
  packages/html/src/lib.rs
  packages/html/src/native_bind/mod.rs
  packages/html/src/native_bind/native_file_engine.rs
  packages/interpreter/src/interpreter.js
  packages/liveview/Cargo.toml
  packages/liveview/src/lib.rs
  packages/web/Cargo.toml
  packages/web/src/dom.rs
  packages/web/src/file_engine.rs
  packages/web/src/lib.rs
Labels: enhancement

#938 Fix form events with select multiple
  packages/html/src/events/form.rs
  packages/interpreter/src/interpreter.js
  packages/web/src/dom.rs
Labels: bug, breaking

#990 make files optional when deserializing form data
  packages/html/src/events/form.rs
Labels: bug, desktop

#987 Allow multiple prevent default for Web, Desktop and LiveView
  docs/guide/examples/event_prevent_default.rs
  docs/guide/src/en/interactivity/event_handlers.md
  packages/interpreter/src/interpreter.js
  packages/web/src/dom.rs
Labels: enhancement, web, desktop, liveview

#994 Fix click and input events on desktop
  packages/desktop/src/file_upload.rs
  packages/desktop/src/protocol.rs
  packages/interpreter/src/interpreter.js
Labels: bug, desktop, liveview
