Repository DioxusLabs/dioxus, pull requests merged in 2023-03, with the labels that each got.

#859 Make use_shared_state usable in static futures
  docs/guide/examples/hooks_composed.rs
  packages/hooks/Cargo.toml
  packages/hooks/src/use_shared_state.rs
Labels: breaking, hooks

#879 Fix new Clippy lints
  packages/tui/src/config.rs
  packages/tui/src/focus.rs
  packages/tui/src/node.rs
Labels: tui

#878 Fix event bubbling within a single template
  packages/core/src/arena.rs
  packages/core/src/virtual_dom.rs
Labels: bug, core

#881 Fix panic when waking future on shutdown
  packages/core/src/scheduler/task.rs
Labels: core

#871 Allow liveview to spawn pre-built virtualdoms
  packages/liveview/src/pool.rs
Labels: enhancement, liveview

#904 Fix style attributes in SSR
  packages/ssr/src/cache.rs
  packages/ssr/src/renderer.rs
  packages/ssr/tests/styles.rs
Labels: bug, ssr

#905 Expose the data directory in the desktop config
  packages/desktop/src/cfg.rs
  packages/desktop/src/webview.rs
Labels: desktop

#914 Clarify mutations docs
  packages/core/src/mutations.rs
Labels: documentation, core

#915 Don't add no op mutations when diffing lists
  packages/core/src/diff.rs
Labels: core

#917 Fix more complex workspaces with hot reloading
  packages/rsx/src/hot_reload/hot_reloading_file_map.rs
Labels: bug
