Repository DioxusLabs/dioxus, pull requests merged in 2023-11, with the labels that each got.

#1602 Fix the scroll event on the web renderer
  packages/web/src/dom.rs
Labels: bug, web

#1581 Drop any attribute after rendering
  packages/core/src/arena.rs
  packages/core/src/bump_frame.rs
  packages/core/src/scope_arena.rs
  packages/core/src/scopes.rs
Labels: bug, core

#1642 Related to #1547: use `dioxus-cli` within a workspace (wildcard-members, real package names)
  packages/cli/src/error.rs
  packages/cli/src/main.rs
Labels: enhancement, cli

#1648 Fix outdated lazynode documentation
  packages/core/src/lazynodes.rs
Labels: documentation, core

#1670 Add cargo make tidy/miri
  Makefile.toml
Labels: tweak, ci

#1671 Switch outdated tui crate for ratatui
  packages/rink/Cargo.toml
  packages/rink/src/lib.rs
  packages/rink/src/render.rs
  packages/rink/src/style.rs
  packages/rink/src/style_attributes.rs
  packages/rink/src/widget.rs
Labels: tui, dependencies
