Repository DioxusLabs/dioxus, pull requests merged in 2023-01, with the labels that each got.

#707 Fix the namespace and volatility of dynamic attributes
  packages/rsx/src/element.rs
Labels: bug, core

#708 Support optional attributes
  packages/core/src/nodes.rs
  packages/interpreter/src/interpreter.js
  packages/native-core/src/node.rs
  packages/native-core/src/real_dom.rs
Labels: enhancement, core

#711 make the real dom generic over custom types
  packages/native-core-macro/src/lib.rs
  packages/native-core/src/node.rs
  packages/native-core/src/real_dom.rs
  packages/native-core/src/state.rs
  packages/native-core/src/utils/persistant_iterator.rs
Labels: bug

#716 bump lightningcss version
  packages/native-core/Cargo.toml
  packages/native-core/src/layout_attributes.rs
Labels: dependencies, native-core

#717 Remove tui_ prefix from TUI Examples
  packages/tui/examples/all_events.rs
  packages/tui/examples/border.rs
  packages/tui/examples/buttons.rs
  packages/tui/examples/color_test.rs
  packages/tui/examples/colorpicker.rs
  packages/tui/examples/components.rs
  packages/tui/examples/flex.rs
  packages/tui/examples/hover.rs
  packages/tui/examples/list.rs
  packages/tui/examples/margin.rs
  packages/tui/examples/quadrants.rs
  packages/tui/examples/readme.rs
  packages/tui/examples/task.rs
  packages/tui/examples/text.rs
  packages/tui/examples/widgets.rs
Labels: tui

#718 Handle removing a future that does not exist
  packages/core/src/scheduler/task.rs
  packages/core/src/scheduler/wait.rs
Labels: bug, core

#723 improve error message when a user tries to use nested hooks
  packages/core/src/scopes.rs
Labels: tweak

#722 fix templates being registered in mutations many times
  packages/core/src/create.rs
Labels: core, performance

#670 Update docs to reflect changes in master
  .github/workflows/docs.yml
  docs/guide/Cargo.toml
  docs/guide/book.toml
  docs/guide/examples/boolean_attribute.rs
  docs/guide/examples/component_props_options.rs
  docs/guide/examples/conditional_rendering.rs
  docs/guide/examples/dangerous_inner_html.rs
  docs/guide/examples/event_click.rs
  docs/guide/examples/event_nested.rs
  docs/guide/examples/event_prevent_default.rs
  docs/guide/examples/hello_world_desktop.rs
  docs/guide/examples/hello_world_liveview.rs
  docs/guide/examples/hello_world_tui.rs
  docs/guide/examples/hello_world_web.rs
  docs/guide/examples/hooks_bad.rs
  docs/guide/examples/hooks_counter.rs
  docs/guide/examples/hooks_use_ref.rs
  docs/guide/examples/meme_editor_dark_mode.rs
  docs/guide/examples/rendering_lists.rs
  docs/guide/examples/rsx_overview.rs
  docs/guide/examples/use_future.rs
  docs/guide/src/en/SUMMARY.md
  docs/guide/src/en/async/spawn.md
  docs/guide/src/en/async/use_coroutine.md
  docs/guide/src/en/async/use_future.md
  docs/guide/src/en/best_practices/antipatterns.md
  docs/guide/src/en/contributing.md
  docs/guide/src/en/custom_renderer/index.md
  docs/guide/src/en/describing_ui/component_props.md
  docs/guide/src/en/describing_ui/components.md
  docs/guide/src/en/describing_ui/index.md
  docs/guide/src/en/getting_started/desktop.md
  docs/guide/src/en/getting_started/hot_reload.md
  docs/guide/src/en/getting_started/index.md
  docs/guide/src/en/getting_started/liveview.md
  docs/guide/src/en/getting_started/mobile.md
  docs/guide/src/en/getting_started/ssr.md
  docs/guide/src/en/getting_started/tui.md
  docs/guide/src/en/getting_started/web.md
  docs/guide/src/en/index.md
  docs/guide/src/en/interactivity/dynamic_rendering.md
  docs/guide/src/en/interactivity/event_handlers.md
  docs/guide/src/en/interactivity/hooks.md
  docs/guide/src/en/interactivity/router.md
  docs/guide/src/en/interactivity/sharing_state.md
  docs/guide/src/en/interactivity/user_input.md
  docs/guide/src/en/roadmap.md
  docs/guide/src/pt-br/interactivity/roteador.md
  docs/nightly/readme.md
  packages/core/src/nodes.rs
  packages/tui/examples/text.rs
Labels: documentation, blocker

#748 Fix drag* events on the web renderer
  packages/html/src/web_sys_bind/events.rs
  packages/web/src/dom.rs
Labels: bug, web

#729 Unify DirtyNodes and DirtyNodeStates in native core
  packages/native-core/src/passes.rs
  packages/native-core/src/real_dom.rs
Labels: performance, native-core

#726 fix: comments being eaten in autofmt
  packages/autofmt/src/buffer.rs
  packages/autofmt/src/component.rs
  packages/autofmt/src/element.rs
  packages/autofmt/src/expr.rs
  packages/autofmt/src/lib.rs
  packages/autofmt/src/writer.rs
  packages/autofmt/tests/samples.rs
  packages/autofmt/tests/samples/commentshard.rsx
  packages/rsx/src/component.rs
  packages/rsx/src/element.rs
Labels: bug, autoformatting

#696 chore: add miri to CI
  .github/workflows/miri.yml
  packages/core/src/lazynodes.rs
  packages/core/tests/miri_stress.rs
  packages/native-core/Cargo.toml
  packages/native-core/tests/miri_native.rs
Labels: blocker, ci

#728 Handle abort diffing
  packages/core/src/arena.rs
  packages/core/src/diff.rs
  packages/core/src/virtual_dom.rs
Labels: core

#721 Add fuzzing test to dioxus-core
  packages/core/Cargo.toml
  packages/core/tests/fuzzing.rs
Labels: core

#780 fix: short expr lists should not eat the final exprs
  packages/autofmt/src/element.rs
  packages/autofmt/src/lib.rs
  packages/autofmt/tests/samples.rs
  packages/autofmt/tests/samples/collapse_expr.rsx
Labels: autoformatting

#751 Create with_event_handler to expose window event on desktop
  examples/window_focus.rs
  packages/desktop/Cargo.toml
  packages/desktop/src/cfg.rs
  packages/desktop/src/desktop_context.rs
  packages/desktop/src/lib.rs
Labels: enhancement, desktop

#787 Stable Docs Workflow
  .github/workflows/docs stable.yml
Labels: documentation, ci

#789 Fix replacing a dynamic text node in native core
  packages/native-core/src/real_dom.rs
Labels: bug, native-core

#791 Apply medium width when the border style is not none to match browsers
  packages/native-core/src/layout_attributes.rs
  packages/tui/src/layout.rs
Labels: native-core

#790 Make text editing utilities in native core agnostic over the text storage
  packages/native-core/src/utils/cursor.rs
  packages/tui/src/widgets/number.rs
  packages/tui/src/widgets/password.rs
  packages/tui/src/widgets/textbox.rs
Labels: enhancement, native-core

#788 Add fuzzing test to native core
  packages/native-core/tests/fuzzing.rs
Labels: native-core

#792 Update custom renderer docs
  docs/guide/src/en/custom_renderer/index.md
Labels: documentation

#794 do not box scope states
  packages/core/Cargo.toml
  packages/core/src/arena.rs
  packages/core/src/create.rs
  packages/core/src/diff.rs
  packages/core/src/scheduler/wait.rs
  packages/core/src/scope_arena.rs
  packages/core/src/scopes.rs
  packages/core/src/virtual_dom.rs
Labels: core, performance

#754 Implement hot reloading for Desktop, TUI, and Liveview
  Cargo.toml
  docs/guide/src/en/SUMMARY.md
  docs/guide/src/en/getting_started/hot_reload.md
  packages/desktop/Cargo.toml
  packages/desktop/src/desktop_context.rs
  packages/desktop/src/hot_reload.rs
  packages/desktop/src/lib.rs
  packages/dioxus/Cargo.toml
  packages/dioxus/src/lib.rs
  packages/hot-reload/Cargo.toml
  packages/hot-reload/README.md
  packages/hot-reload/src/lib.rs
  packages/liveview/Cargo.toml
  packages/liveview/src/pool.rs
  packages/tui/Cargo.toml
  packages/tui/src/lib.rs
Labels: enhancement
