Repository DioxusLabs/dioxus, pull requests merged in 2024-12, with the labels that each got.

#3270 Fix hot reloading identical event handler closures
  packages/rsx-hotreload/src/diff.rs
Labels: bug, hot-reload

#3264 Fix: Legacy Folder Assets With `.` In Name
  packages/cli/src/assets/file.rs
Labels: bug, cli

#3271 Fix diffing cloned rsx nodes by deep cloning nodes before mounting them
  packages/core/src/error_boundary.rs
  packages/core/src/events.rs
  packages/core/src/nodes.rs
  packages/core/src/scope_arena.rs
  packages/core/src/suspense/mod.rs
Labels: bug, core

#3263 Fix fullstack axum integration docs
  Makefile.toml
  examples/router.rs
  packages/fullstack/README.md
  packages/fullstack/docs/request_origin.md
  packages/fullstack/src/serve_config.rs
  packages/fullstack/src/server/mod.rs
  packages/fullstack/src/server_context.rs
  packages/manganis/manganis-core/src/images.rs
Labels: bug, documentation, fullstack

#3253 document Write, GenerationalRef, and GenerationalRefMut
  packages/generational-box/src/references.rs
  packages/signals/src/signal.rs
Labels: documentation, signals, generation box

#2911 Add the `onvisible` event handler to `Element`
  Cargo.lock
  Cargo.toml
  examples/assets/visible.css
  examples/clock.rs
  examples/visible.rs
  packages/core-types/src/bubbles.rs
  packages/desktop/src/events.rs
  packages/html/src/events/mod.rs
  packages/html/src/events/visible.rs
  packages/html/src/transit.rs
  packages/interpreter/src/js/core.js
  packages/interpreter/src/js/hash.txt
  packages/interpreter/src/js/native.js
  packages/interpreter/src/ts/core.ts
  packages/interpreter/src/ts/serialize.ts
  packages/liveview/src/events.rs
  packages/liveview/src/pool.rs
  packages/web/Cargo.toml
  packages/web/src/events/mod.rs
  packages/web/src/events/visible.rs
Labels: enhancement, html

#3281 Feat: Re-Export `cargo_metadata` In `dioxus-dx-wire-format`
  packages/dx-wire-format/src/lib.rs
Labels: enhancement, cli

#3288 Expose streaming options to choose between full prerendering and out of order streaming
  example-projects/fullstack-hackernews/src/main.rs
  packages/fullstack/src/render.rs
  packages/fullstack/src/serve_config.rs
  packages/playwright-tests/fullstack/src/main.rs
  packages/playwright-tests/nested-suspense/src/main.rs
  packages/playwright-tests/suspense-carousel/src/main.rs
Labels: fullstack

#3294 Feat: Manganis SCSS Support
  Cargo.lock
  packages/cli-opt/Cargo.toml
  packages/cli-opt/src/css.rs
  packages/cli-opt/src/file.rs
  packages/manganis/manganis/src/macro_helpers.rs
Labels: enhancement, manganis

#3282 Fix: Flush Cargo Logs on Build Failure
  packages/cli/src/build/builder.rs
Labels: bug, cli

#3302 feat: integrate dioxus-logger inline
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  example-projects/file-explorer/Cargo.toml
  example-projects/fullstack-hackernews/Cargo.toml
  example-projects/fullstack-hackernews/src/main.rs
  examples/fullstack-auth/Cargo.toml
  examples/fullstack-auth/src/main.rs
  examples/fullstack-hello-world/Cargo.toml
  examples/fullstack-hello-world/src/main.rs
  examples/fullstack-streaming/Cargo.toml
  examples/fullstack-streaming/src/main.rs
  examples/logging.rs
  examples/pwa/Cargo.toml
  examples/pwa/src/main.rs
  examples/tailwind/Cargo.toml
  examples/tailwind/src/main.rs
  packages/cli/Cargo.toml
  packages/config-macro/src/lib.rs
  packages/core/Cargo.toml
  packages/desktop/src/webview.rs
  packages/dioxus/Cargo.toml
  packages/dioxus/src/launch.rs
  packages/dioxus/src/lib.rs
  packages/fullstack/Cargo.toml
  packages/interpreter/src/js/core.js
  packages/interpreter/src/js/hash.txt
  packages/interpreter/src/ts/core.ts
  packages/logger/Cargo.toml
  packages/logger/src/lib.rs
  packages/signals/Cargo.toml
  packages/signals/tests/memo.rs
  packages/signals/tests/subscribe.rs
  packages/web/Cargo.toml
  packages/web/src/cfg.rs
  packages/web/src/lib.rs
Labels: enhancement, breaking

#3315 Fix hot reloading stylesheets with an existing query parameter
  packages/interpreter/src/js/hash.txt
  packages/interpreter/src/js/native.js
  packages/interpreter/src/ts/native.ts
  packages/web/src/devtools.rs
Labels: bug, web, desktop, hot-reload

#3317 Fix enable_out_of_order_streaming doc example and manganis macro remote example
  packages/fullstack/src/serve_config.rs
  packages/manganis/manganis-macro/src/lib.rs
Labels: bug, documentation

#3330 Fix: Windows Manganis Asset Hot Reload
  packages/cli/src/serve/handle.rs
Labels: bug, hot-reload, windows

#3313 Always run toast eval inside the runtime
  packages/web/src/devtools.rs
  packages/web/src/lib.rs
Labels: bug, web, cli

#3341 Fix client side liveview links
  packages/liveview/src/adapters/axum_adapter.rs
  packages/liveview/src/history.rs
Labels: bug, liveview

#3335 Feat: CLI `wasm-bindgen-cli` Installer
  Cargo.lock
  Cargo.toml
  packages/cli/Cargo.toml
  packages/cli/src/build/bundle.rs
  packages/cli/src/build/verify.rs
  packages/cli/src/main.rs
  packages/cli/src/profiles.rs
  packages/cli/src/slog.rs
  packages/cli/src/tooling.rs
  packages/cli/src/wasm_bindgen.rs
Labels: enhancement, cli

#3379 fix: throw error when asset is empty
  packages/manganis/manganis-macro/src/asset.rs
Labels: bug

#3320 Revision: Add more info to template creation message.
  packages/cli/src/cli/create.rs
Labels: enhancement, cli

#3346 Fix onmounted event triggering many times
  packages/core/src/diff/node.rs
  packages/desktop/headless_tests/events.rs
  packages/playwright-tests/fullstack.spec.js
  packages/playwright-tests/fullstack/src/main.rs
  packages/playwright-tests/liveview.spec.js
  packages/playwright-tests/liveview/src/main.rs
  packages/playwright-tests/web.spec.js
  packages/playwright-tests/web/src/main.rs
Labels: bug, core

#3374 Improve the second example in the read write same scope warning
  packages/signals/src/warnings.rs
Labels: documentation, signals

#3392 Make the file engine feature in the html crate a no-op
  packages/dioxus/Cargo.toml
  packages/html/Cargo.toml
  packages/html/src/events/drag.rs
  packages/html/src/events/form.rs
  packages/html/src/file_data.rs
  packages/liveview/Cargo.toml
  packages/web/src/events/drag.rs
  packages/web/src/events/file.rs
  packages/web/src/events/form.rs
Labels: bug, html

#3405 Fix event closure invoked recursively
  packages/web/src/dom.rs
Labels: bug, web

#3413 Don't panic if the duration is negative in try_get_or_insert
  packages/isrg/src/memory_cache.rs
Labels: bug, fullstack

#3406 Assume the virtual dom is not rendering while not diffing components
  Cargo.lock
  packages/core/src/effect.rs
  packages/core/src/runtime.rs
  packages/core/src/tasks.rs
  packages/core/src/virtual_dom.rs
  packages/playwright-tests/web.spec.js
  packages/playwright-tests/web/Cargo.toml
  packages/playwright-tests/web/src/main.rs
Labels: bug, core
