Repository DioxusLabs/dioxus, pull requests merged in 2024-10, with the labels that each got.

#3000 Use callback in desktop asset handler
  packages/desktop/src/assets.rs
  packages/desktop/src/desktop_context.rs
  packages/desktop/src/hooks.rs
  packages/desktop/src/webview.rs
Labels: desktop, tweak

#3017 Use the absolute path for result in the router macro
  packages/router-macro/src/lib.rs
Labels: bug, router

#3005 Fix restarting coroutines
  examples/popup.rs
  packages/hooks/src/use_coroutine.rs
  packages/hooks/src/use_future.rs
Labels: breaking, hooks

#3038 Escape HTML entities in rsx rosetta
  Cargo.lock
  packages/rsx-rosetta/Cargo.toml
  packages/rsx-rosetta/src/lib.rs
  packages/rsx-rosetta/tests/escape.rs
Labels: bug, cli

#3031 Fix special characters in head elements
  packages/html/src/document/mod.rs
Labels: bug, html

#3006 Remove native and web features from dioxus-html
  Cargo.lock
  packages/desktop/Cargo.toml
  packages/desktop/build.rs
  packages/desktop/src/app.rs
  packages/desktop/src/document.rs
  packages/desktop/src/file_upload.rs
  packages/desktop/src/js/hash.txt
  packages/desktop/src/js/native_eval.js
  packages/desktop/src/launch.rs
  packages/desktop/src/protocol.rs
  packages/desktop/src/ts/native_eval.ts
  packages/desktop/src/webview.rs
  packages/desktop/tsconfig.json
  packages/html/Cargo.toml
  packages/html/src/document/bindings.rs
  packages/html/src/document/mod.rs
  packages/html/src/events/mounted.rs
  packages/html/src/js/eval.js
  packages/html/src/js/hash.txt
  packages/html/src/lib.rs
  packages/html/src/native_bind/mod.rs
  packages/html/src/native_bind/native_file_engine.rs
  packages/html/src/ts/eval.ts
  packages/html/src/web_sys_bind/events.rs
  packages/html/src/web_sys_bind/mod.rs
  packages/web/Cargo.toml
  packages/web/build.rs
  packages/web/src/document.rs
  packages/web/src/event.rs
  packages/web/src/events/animation.rs
  packages/web/src/events/clipboard.rs
  packages/web/src/events/composition.rs
  packages/web/src/events/drag.rs
  packages/web/src/events/file.rs
  packages/web/src/events/focus.rs
  packages/web/src/events/form.rs
  packages/web/src/events/keyboard.rs
  packages/web/src/events/load.rs
  packages/web/src/events/media.rs
  packages/web/src/events/mod.rs
  packages/web/src/events/mounted.rs
  packages/web/src/events/mouse.rs
  packages/web/src/events/pointer.rs
  packages/web/src/events/resize.rs
  packages/web/src/events/selection.rs
  packages/web/src/events/toggle.rs
  packages/web/src/events/touch.rs
  packages/web/src/events/transition.rs
  packages/web/src/events/wheel.rs
  packages/web/src/file_engine.rs
  packages/web/src/js/eval.js
  packages/web/src/js/hash.txt
  packages/web/src/lib.rs
  packages/web/src/ts/eval.ts
Labels: breaking, tweak, html

#2952 Improve documentation for the fullstack crate
  Cargo.lock
  examples/fullstack-streaming/Cargo.toml
  packages/dioxus/src/launch.rs
  packages/fullstack/README.md
  packages/fullstack/docs/request_origin.md
  packages/fullstack/src/axum_adapter.rs
  packages/fullstack/src/config.rs
  packages/fullstack/src/serve_config.rs
  packages/fullstack/src/server_context.rs
  packages/fullstack/src/server_fn/collection.rs
  packages/server-macro/Cargo.toml
  packages/server-macro/src/lib.rs
Labels: documentation, fullstack

#2839 Fix cloned rsx double drop
  Cargo.lock
  packages/core-macro/src/props/mod.rs
  packages/core-macro/tests/values_memoize_in_place.rs
  packages/core/src/events.rs
  packages/core/src/lib.rs
  packages/core/src/suspense/component.rs
  packages/generational-box/Cargo.toml
  packages/generational-box/src/entry.rs
  packages/generational-box/src/error.rs
  packages/generational-box/src/lib.rs
  packages/generational-box/src/sync.rs
  packages/generational-box/src/unsync.rs
  packages/generational-box/tests/reference_counting.rs
  packages/hooks/src/use_callback.rs
  packages/html/src/document/mod.rs
  packages/signals/src/copy_value.rs
  packages/signals/src/read_only_signal.rs
  packages/signals/src/signal.rs
  packages/web/src/document.rs
Labels: bug, signals, generation box

#2955 Update bug report format
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: enhancement, process

#3046 Fix: Windows File Drag-N-Drop
  Cargo.lock
  Cargo.toml
  example-projects/wifi-scanner/Cargo.toml
  packages/cli/Cargo.toml
  packages/desktop/Cargo.toml
  packages/desktop/src/app.rs
  packages/desktop/src/ipc.rs
  packages/desktop/src/launch.rs
  packages/desktop/src/webview.rs
  packages/hooks/Cargo.toml
  packages/interpreter/src/js/common.js
  packages/interpreter/src/js/core.js
  packages/interpreter/src/js/hash.txt
  packages/interpreter/src/js/native.js
  packages/interpreter/src/ts/native.ts
  packages/playwright-tests/liveview/Cargo.toml
  packages/signals/Cargo.toml
Labels: desktop, windows

#3102 Fix: TUI YT Link
  packages/cli/src/serve/output.rs
Labels: bug, cli

#3115 Fix: CLI Release & Profile Conflict
  packages/cli/src/builder/build.rs
Labels: bug, cli

#3108 Remove: `default_platform` in `Dioxus.toml`
  packages/cli/Dioxus.toml
  packages/cli/README.md
  packages/cli/src/config/app.rs
  packages/cli/src/config/dioxus_config.rs
Labels: enhancement, cli

#3130 Fix: CLI Not Applying `no-default-features` When Specifying Platform
  packages/cli/src/builder/build.rs
Labels: bug, cli

#3145 Fix liveview launch
  packages/dioxus/src/launch.rs
  packages/liveview/src/launch.rs
Labels: bug

#3149 Fix if chain attributes with mixed expressions and strings
  packages/core/tests/conditional_formatted_attributes.rs
  packages/rsx/src/attribute.rs
Labels: bug, rsx

#3151 Add a warning about using use_hook(RefCell) in the docs
  packages/core/src/global_context.rs
  packages/core/src/scope_context.rs
Labels: documentation, core, hooks
