Repository DioxusLabs/dioxus, pull requests merged in 2024-03, with the labels that each got.

#2002 Fix signals leaking memory
  packages/signals/README.md
  packages/signals/src/copy_value.rs
  packages/signals/src/signal.rs
  packages/signals/tests/create.rs
Labels: bug, signals

#1987 Fix fullstack history
  packages/fullstack/src/render.rs
  packages/fullstack/src/server_context.rs
  packages/router/src/router_cfg.rs
Labels: bug, fullstack

#1993 Fix effect ordering and futures being run after scopes are dropped
  packages/core/src/arena.rs
  packages/core/src/diff/component.rs
  packages/core/src/dirty_scope.rs
  packages/core/src/global_context.rs
  packages/core/src/lib.rs
  packages/core/src/render_signal.rs
  packages/core/src/runtime.rs
  packages/core/src/scope_arena.rs
  packages/core/src/tasks.rs
  packages/core/src/virtual_dom.rs
  packages/core/tests/children_drop_futures.rs
  packages/core/tests/task.rs
  packages/hooks/src/use_effect.rs
  packages/hooks/src/use_future.rs
  packages/hooks/src/use_memo.rs
  packages/signals/src/signal.rs
Labels: bug, core

#2005 Only poll suspended futures, lazy memos
  Cargo.lock
  examples/memo_chain.rs
  packages/core/src/dirty_scope.rs
  packages/core/src/global_context.rs
  packages/core/src/runtime.rs
  packages/core/src/scope_arena.rs
  packages/core/src/scope_context.rs
  packages/core/src/tasks.rs
  packages/core/src/virtual_dom.rs
  packages/core/tests/suspense.rs
  packages/core/tests/task.rs
  packages/fullstack/src/hooks/server_future.rs
  packages/hooks/src/use_effect.rs
  packages/hooks/src/use_memo.rs
  packages/hooks/src/use_resource.rs
  packages/signals/Cargo.toml
  packages/signals/src/copy_value.rs
  packages/signals/src/global/memo.rs
  packages/signals/src/global/signal.rs
  packages/signals/src/impls.rs
  packages/signals/src/lib.rs
  packages/signals/src/memo.rs
  packages/signals/src/reactive_context.rs
  packages/signals/src/signal.rs
  packages/signals/src/write.rs
Labels: bug, core, fullstack

#2022 Restore signal lifetimes; rename take to manually drop
  examples/dog_app.rs
  examples/suspense.rs
  packages/desktop/headless_tests/rendering.rs
  packages/generational-box/src/lib.rs
  packages/generational-box/src/sync.rs
  packages/generational-box/src/unsync.rs
  packages/router/examples/simple_routes.rs
  packages/router/src/contexts/router.rs
  packages/signals/examples/errors.rs
  packages/signals/src/copy_value.rs
  packages/signals/src/global/memo.rs
  packages/signals/src/global/signal.rs
  packages/signals/src/map.rs
  packages/signals/src/memo.rs
  packages/signals/src/reactive_context.rs
  packages/signals/src/read.rs
  packages/signals/src/read_only_signal.rs
  packages/signals/src/signal.rs
  packages/signals/src/write.rs
Labels: enhancement, breaking, signals

#2050 docs: Add Turkish Translation
  README.md
  translations/tr-tr/README.md
Labels: documentation

#2054 Fix the visibility of the read only signal helper struct
  packages/core-macro/src/props/mod.rs
Labels: bug, core

#2057 Fix Manganis assets overlapping between examples
  Cargo.lock
  Cargo.toml
  packages/cli-config/src/config.rs
  packages/cli/src/assets.rs
  packages/cli/src/builder.rs
  packages/cli/src/server/desktop/mod.rs
  packages/cli/src/server/mod.rs
  packages/desktop/src/protocol.rs
Labels: bug, cli, dependencies

#2029 Fix memos in children; introduce isomorphic spawn
  Cargo.lock
  packages/core/Cargo.toml
  packages/core/src/global_context.rs
  packages/core/src/lib.rs
  packages/core/src/runtime.rs
  packages/core/src/scope_arena.rs
  packages/core/src/scope_context.rs
  packages/core/src/tasks.rs
  packages/core/src/virtual_dom.rs
  packages/generational-box/src/sync.rs
  packages/hooks/src/use_context.rs
  packages/hooks/src/use_effect.rs
  packages/hooks/src/use_future.rs
  packages/hooks/src/use_resource.rs
  packages/hooks/tests/memo.rs
  packages/signals/src/memo.rs
Labels: bug, enhancement, core, hooks

#2064 Implement copy for Resource
  packages/hooks/src/use_resource.rs
  packages/rsx/src/lib.rs
Labels: enhancement, hooks

#2068 Don't quit serving early if builds fail
  Cargo.lock
  packages/cli/src/builder.rs
Labels: bug, cli

#2073 Fix the liveview launch function
  packages/liveview/Cargo.toml
  packages/liveview/src/launch.rs
Labels: bug, liveview

#2071 Restore write_silent as a deprecated function with updated recommendations
  packages/signals/src/signal.rs
Labels: tweak, signals

#2082 Bump sledgehammer bindgen to a stable release
  packages/interpreter/Cargo.toml
Labels: dependencies

#2081 unwind panics into error boundaries
  examples/error_handle.rs
  packages/core/src/any_props.rs
  packages/core/src/error_boundary.rs
Labels: enhancement, core

#2069 Manual non-reactive dependancies for use_memo, use_effect, and use_resource
  packages/hooks/src/lib.rs
  packages/hooks/src/use_effect.rs
  packages/hooks/src/use_memo.rs
  packages/hooks/src/use_reactive.rs
  packages/hooks/src/use_resource.rs
  packages/signals/examples/dependancies.rs
Labels: enhancement, breaking, hooks

#2107 Add a menu bar option to the desktop config
  Cargo.toml
  examples/custom_menu.rs
  examples/window_focus.rs
  packages/desktop/src/app.rs
  packages/desktop/src/config.rs
  packages/desktop/src/lib.rs
  packages/desktop/src/menubar.rs
  packages/desktop/src/webview.rs
  packages/dioxus/Cargo.toml
  packages/dioxus/src/launch.rs
  packages/dioxus/src/lib.rs
Labels: enhancement, desktop

#2112 Make EventHandler copy
  Cargo.lock
  packages/autofmt/src/component.rs
  packages/core-macro/src/props/mod.rs
  packages/core/Cargo.toml
  packages/core/src/events.rs
  packages/core/src/generational_box.rs
  packages/core/src/lib.rs
  packages/generational-box/src/lib.rs
  packages/generational-box/src/references.rs
  packages/router/src/components/link.rs
  packages/rsx/src/component.rs
  packages/signals/src/copy_value.rs
  packages/signals/src/global/memo.rs
  packages/signals/src/global/signal.rs
  packages/signals/src/impls.rs
  packages/signals/src/map.rs
  packages/signals/src/memo.rs
  packages/signals/src/read_only_signal.rs
  packages/signals/src/signal.rs
Labels: core, tweak, signals

#2122 Fix bounds on owner props
  packages/core-macro/src/props/mod.rs
Labels: bug

#2121 Fix streaming server functions, and precompress assets in release mode
  packages/fullstack/Cargo.toml
  packages/fullstack/examples/axum-auth/src/main.rs
  packages/fullstack/src/assets.rs
  packages/fullstack/src/axum_adapter.rs
  packages/fullstack/src/config.rs
  packages/fullstack/src/lib.rs
  packages/signals/src/reactive_context.rs
Labels: bug, fullstack

#2129 Don't move over event handler fields when diffing props
  packages/core-macro/src/props/mod.rs
  packages/core-macro/tests/values_memoize_in_place.rs
Labels: bug, core

#2137 Switch to tracing for the cli
  Cargo.lock
  packages/cli/Cargo.toml
  packages/cli/src/builder.rs
  packages/cli/src/cli/config.rs
  packages/cli/src/cli/create.rs
  packages/cli/src/cli/plugin.rs
  packages/cli/src/cli/translate.rs
  packages/cli/src/lib.rs
  packages/cli/src/logging.rs
  packages/cli/src/main.rs
  packages/cli/src/plugin/interface/log.rs
  packages/cli/src/plugin/mod.rs
  packages/cli/src/server/desktop/mod.rs
  packages/cli/src/server/mod.rs
  packages/cli/src/server/output.rs
  packages/cli/src/server/web/hot_reload.rs
  packages/cli/src/server/web/mod.rs
  packages/cli/src/server/web/server.rs
  packages/cli/src/tools.rs
Labels: cli, dependencies

#2145 Fix asset bundling in the CLI
  packages/cli/src/cli/bundle.rs
  packages/desktop/src/protocol.rs
Labels: bug, cli

#2142 Fix hot reload on windows
  packages/cli/src/server/desktop/mod.rs
  packages/desktop/Cargo.toml
  packages/desktop/src/app.rs
  packages/hot-reload/src/file_watcher.rs
  packages/hot-reload/src/lib.rs
Labels: bug, hot-reload, windows

#2136 Provide a better error message for wasm bindgen version mismatches
  Cargo.lock
  packages/cli/Cargo.toml
  packages/cli/src/builder.rs
Labels: cli, tweak

#2135 Warn if cli-config is not available at compile time
  Cargo.toml
  packages/cli-config/Cargo.toml
  packages/cli-config/build.rs
  packages/cli-config/src/lib.rs
  packages/cli/Cargo.toml
  packages/desktop/Cargo.toml
  packages/fullstack/Cargo.toml
  packages/liveview/Cargo.toml
  packages/router/Cargo.toml
Labels: cli, tweak

#2140 Make some enums non-exhaustive
  Cargo.lock
  packages/check/src/issues.rs
  packages/cli-config/src/config.rs
  packages/cli/src/cli/build.rs
  packages/cli/src/cli/serve.rs
  packages/desktop/src/config.rs
  packages/desktop/src/query.rs
  packages/fullstack/src/server_fn/collection.rs
  packages/html/src/eval.rs
  packages/html/src/events/mounted.rs
  packages/liveview/src/lib.rs
  packages/liveview/src/query.rs
  packages/router/src/routable.rs
  packages/ssr/src/cache.rs
  packages/ssr/src/incremental.rs
  packages/web/src/rehydrate.rs
Labels: breaking

#2125 Check type of launch config
  examples/calculator.rs
  examples/custom_html.rs
  examples/suspense.rs
  packages/config-macro/src/lib.rs
  packages/dioxus/src/launch.rs
Labels: breaking, tweak

#2159 Require every field in router variants to be present in the route in the web history
  packages/router-macro/Cargo.toml
  packages/router-macro/src/lib.rs
  packages/router/Cargo.toml
  packages/router/examples/simple_routes.rs
Labels: breaking, router, tweak

#2185 Fix the mobile feature on the dioxus crate
  Cargo.lock
  packages/dioxus/src/launch.rs
Labels: bug, mobile

#2172 Fix child routers with the web history
  packages/router-macro/src/lib.rs
Labels: bug, router
