Repository DioxusLabs/dioxus, pull requests merged in 2024-04, with the labels that each got.

#2199 chore: Clean up `use_on_destroy` docs
  packages/hooks/src/lib.rs
  packages/hooks/src/use_on_create.rs
  packages/hooks/src/use_on_destroy.rs
Labels: documentation, hooks

#2220 Fix typo is style tag removal causing style attributes to not be removed
  packages/interpreter/src/unified_bindings.rs
Labels: bug

#2218 Fix rendering aborted nodes in SSR
  packages/ssr/src/cache.rs
  packages/ssr/src/fs_cache.rs
  packages/ssr/src/incremental.rs
  packages/ssr/src/renderer.rs
Labels: bug, ssr

#2216 Fix and test spawn_forever
  packages/core/src/global_context.rs
  packages/core/src/scope_context.rs
  packages/core/tests/task.rs
Labels: bug, core

#2217 Reuse placeholder nodes on each thread to reduce allocation
  packages/core/src/nodes.rs
Labels: core, performance

#2214 Fix firefox refreshing loop in debug mode
  packages/cli/src/assets/autoreload.js
  packages/fullstack/dist/index.html
  packages/fullstack/src/axum_adapter.rs
  packages/fullstack/src/render.rs
Labels: bug, web, cli

#2234 Fix hydration for non-bubbling events
  packages/html/Cargo.toml
  packages/html/src/events.rs
  packages/ssr/src/renderer.rs
Labels: bug, fullstack

#2254 Fix: CLI Logging
  packages/cli/src/main.rs
Labels: cli

#2278 Fix volatile attributes
  packages/core/src/diff/node.rs
Labels: bug, core

#2273 Poll tasks in the same order they are queued
  packages/core/src/dirty_scope.rs
  packages/core/src/virtual_dom.rs
Labels: bug, core

#2267 Fix the assets head path
  packages/desktop/src/protocol.rs
Labels: bug, desktop

#2275 Fix empty for loop, if statements and children
  packages/rsx/src/attribute.rs
  packages/rsx/src/component.rs
  packages/rsx/src/context.rs
  packages/rsx/src/element.rs
  packages/rsx/src/lib.rs
  packages/rsx/src/node.rs
  packages/rsx/src/renderer.rs
  packages/web/src/hot_reload.rs
Labels: bug, rsx

#2288 Fix event handler drops
  packages/core-macro/src/props/mod.rs
Labels: bug, core

#2300 Fix: CLI Compilation Spam
  packages/cli/src/builder.rs
Labels: bug, cli

#2332 Fix flakey windows tests
  Cargo.lock
  Makefile.toml
  examples/todomvc.rs
  packages/core/src/global_context.rs
  packages/core/src/scope_context.rs
  packages/core/src/virtual_dom.rs
  packages/core/tests/miri_full_app.rs
  packages/core/tests/task.rs
  packages/desktop/headless_tests/events.rs
  packages/desktop/headless_tests/rendering.rs
  packages/desktop/headless_tests/utils.rs
  packages/dioxus-lib/Cargo.toml
  packages/dioxus-lib/README.md
  packages/dioxus/README.md
  packages/fullstack/Cargo.toml
  packages/fullstack/README.md
  packages/fullstack/src/hooks/server_cached.rs
  packages/hooks/src/use_effect.rs
  packages/hooks/src/use_memo.rs
  packages/hooks/src/use_reactive.rs
  packages/hooks/src/use_resource.rs
  packages/html/README.md
  packages/liveview/src/lib.rs
  packages/router-macro/Cargo.toml
  packages/router-macro/src/lib.rs
  packages/router/src/components/history_buttons.rs
  packages/router/src/components/link.rs
  packages/router/src/components/outlet.rs
  packages/router/src/hooks/use_navigator.rs
  packages/router/src/hooks/use_route.rs
  packages/ssr/README.md
Labels: ci

#2367 Create use_muda_event_handler hook
  examples/custom_menu.rs
  packages/desktop/src/hooks.rs
  packages/desktop/src/lib.rs
Labels: enhancement, desktop

#2358 Fix desktop drag events that don't have associated files
  packages/interpreter/src/js/native.js
  packages/interpreter/src/ts/serialize.ts
Labels: bug, desktop

#2356 Fix out of order fields in route definitions
  packages/router-macro/src/segment.rs
Labels: bug, router

#2361 Fix reclaim element when hot reloading
  packages/core/src/diff/node.rs
  packages/desktop/headless_tests/events.rs
  packages/desktop/headless_tests/rendering.rs
Labels: bug, core, hot-reload

#2319 Extend the subscriber list instead of overriding it; fixes subscribers added in mark_dirty
  packages/signals/src/signal.rs
Labels: signals

#2277 Warnings for signal writes that may cause infinite loops
  packages/signals/src/reactive_context.rs
  packages/signals/src/signal.rs
Labels: tweak, signals

#2311 Remove unused once-cell in memo
  packages/signals/src/copy_value.rs
  packages/signals/src/memo.rs
Labels: hooks

#2357 Fix calling server functions on desktop
  Cargo.lock
  packages/fullstack/Cargo.toml
  packages/server-macro/Cargo.toml
Labels: bug, desktop, fullstack

#2320 Implement hash fragments in the router
  Cargo.lock
  Cargo.toml
  examples/hash_fragment_state.rs
  examples/query_segment_search.rs
  examples/query_segments.rs
  packages/core/src/nodes.rs
  packages/router-macro/src/hash.rs
  packages/router-macro/src/lib.rs
  packages/router-macro/src/query.rs
  packages/router-macro/src/redirect.rs
  packages/router-macro/src/route.rs
  packages/router-macro/src/route_tree.rs
  packages/router-macro/src/segment.rs
  packages/router/src/contexts/router.rs
  packages/router/src/history/web.rs
  packages/router/src/routable.rs
  packages/router/src/router_cfg.rs
Labels: enhancement, router

#2329 Only compress web assets in the CLI
  Cargo.lock
  packages/cli-config/src/config.rs
  packages/cli/Cargo.toml
  packages/cli/src/assets.rs
  packages/cli/src/builder.rs
  packages/cli/src/server/mod.rs
  packages/cli/src/server/web/mod.rs
  packages/cli/src/server/web/proxy.rs
  packages/cli/src/tools.rs
  packages/fullstack/Cargo.toml
  packages/fullstack/src/assets.rs
  packages/fullstack/src/axum_adapter.rs
  packages/fullstack/src/lib.rs
Labels: bug, cli, fullstack

#2298 Fix event handler memory leak
  packages/core-macro/tests/values_memoize_in_place.rs
  packages/core/src/events.rs
  packages/core/src/nodes.rs
  packages/generational-box/src/lib.rs
  packages/generational-box/src/sync.rs
  packages/generational-box/src/unsync.rs
  packages/router-macro/src/segment.rs
Labels: bug, core

#2360 Fix memorization for the fragment component
  packages/core/src/error_boundary.rs
  packages/core/src/fragment.rs
Labels: bug, core

#2313 Fix desktop effect race condition
  packages/desktop/headless_tests/events.rs
  packages/desktop/src/edits.rs
  packages/desktop/src/webview.rs
  packages/interpreter/src/js/hash.txt
  packages/interpreter/src/js/native.js
  packages/interpreter/src/ts/native.ts
Labels: bug, desktop
