Repository DioxusLabs/dioxus, pull requests merged in 2024-08, with the labels that each got.

#2757 Feat: Auto Default Into
  packages/core-macro/src/props/mod.rs
  packages/core-macro/tests/rsx.rs
Labels: core, tweak

#2765 Move manganis image into attribute value implementation into core
  Cargo.lock
  packages/core/Cargo.toml
  packages/core/src/nodes.rs
  packages/dioxus/Cargo.toml
Labels: core, tweak

#2759 Add liveview support to the CLI and make fullstack runnable from dist
  packages/cli-config/src/config.rs
  packages/cli/src/assets.rs
  packages/cli/src/builder/cargo.rs
  packages/cli/src/builder/fullstack.rs
  packages/cli/src/builder/mod.rs
  packages/cli/src/builder/web.rs
  packages/cli/src/serve/builder.rs
  packages/cli/src/serve/mod.rs
  packages/cli/src/serve/output.rs
  packages/cli/src/serve/server.rs
  packages/fullstack/src/axum_adapter.rs
  packages/fullstack/src/launch.rs
  packages/fullstack/src/serve_config.rs
  packages/static-generation/src/ssg.rs
Labels: bug, cli

#2767 fix: use prettier-please just in tests - no custom wrapper
  Cargo.lock
  Cargo.toml
  packages/rsx/Cargo.toml
  packages/rsx/src/component.rs
  packages/rsx/src/element.rs
  packages/rsx/src/expr_node.rs
  packages/rsx/src/ifmt.rs
  packages/rsx/src/lib.rs
  packages/rsx/src/literal.rs
  packages/rsx/src/text_node.rs
  packages/rsx/src/util.rs
  packages/rsx/tests/parsing.rs
Labels: autoformatting, rsx

#2769 Fix Links & Add Link Checker
  .github/workflows/main.yml
  lychee.toml
  packages/autofmt/README.md
  packages/check/README.md
  packages/config-macro/README.md
  packages/core-macro/CHANGELOG.md
  packages/core-macro/README.md
  packages/desktop/CHANGELOG.md
  packages/desktop/README.md
  packages/fullstack/README.md
  packages/hooks/CHANGELOG.md
  packages/hooks/README.md
  packages/hot-reload/README.md
  packages/html/CHANGELOG.md
  packages/html/README.md
  packages/interpreter/README.md
  packages/liveview/CHANGELOG.md
  packages/liveview/README.md
  packages/mobile/CHANGELOG.md
  packages/mobile/README.md
  packages/router/CHANGELOG.md
  packages/router/README.md
  packages/rsx-rosetta/README.md
  packages/rsx/README.md
  packages/ssr/CHANGELOG.md
  packages/static-generation/README.md
  packages/web/CHANGELOG.md
  packages/web/README.md
  translations/ja-jp/README.md
  translations/pt-br/README.md
Labels: documentation, enhancement

#2768 Revision: Make `EvalError` impl `Error`
  packages/html/src/document/eval.rs
Labels: enhancement, html

#2771 Add a warning when a copy value is used in a higher scope than it was created in
  packages/core/src/scope_context.rs
  packages/generational-box/src/lib.rs
  packages/signals/docs/hoist/error.rs
  packages/signals/docs/hoist/fixed_list.rs
  packages/signals/src/copy_value.rs
  packages/signals/src/global/signal.rs
  packages/signals/src/lib.rs
  packages/signals/src/signal.rs
  packages/signals/src/warnings.rs
Labels: tweak

#2774 Add argument to `use_callback`
  packages/desktop/src/hooks.rs
  packages/hooks/src/use_callback.rs
  packages/hooks/src/use_effect.rs
  packages/hooks/src/use_future.rs
  packages/hooks/src/use_memo.rs
  packages/hooks/src/use_resource.rs
Labels: core, hooks

#2776 Remove Old Changelogs
  packages/core-macro/CHANGELOG.md
  packages/desktop/CHANGELOG.md
  packages/hooks/CHANGELOG.md
  packages/html/CHANGELOG.md
  packages/liveview/CHANGELOG.md
  packages/mobile/CHANGELOG.md
  packages/router/CHANGELOG.md
  packages/ssr/CHANGELOG.md
  packages/web/CHANGELOG.md
Labels: documentation

#2772 Bubble errors from the server to the client on suspense boundaries
  Cargo.lock
  packages/core/src/error_boundary.rs
  packages/core/src/lib.rs
  packages/core/src/scope_context.rs
  packages/fullstack/src/html_storage/serialize.rs
  packages/fullstack/src/render.rs
  packages/playwright-tests/fullstack.spec.js
  packages/playwright-tests/fullstack/Cargo.toml
  packages/playwright-tests/fullstack/src/main.rs
  packages/web/src/hydration/deserialize.rs
  packages/web/src/hydration/hydrate.rs
  packages/web/src/lib.rs
Labels: bug, fullstack

#2787 Fix fullstack cli progress
  packages/cli/src/serve/output.rs
Labels: bug, cli, fullstack

#2775 Add new crate to workspace members
  packages/cli/src/cli/create.rs
  packages/cli/src/cli/init.rs
Labels: cli

#2789 Fix suspense diffing
  packages/core/src/runtime.rs
  packages/core/src/suspense/component.rs
  packages/core/src/suspense/mod.rs
  packages/core/tests/suspense.rs
  packages/web/src/lib.rs
Labels: bug, core

#2786 Re-export the axum feature flag under "server"
  Cargo.lock
  Cargo.toml
  packages/dioxus/Cargo.toml
  packages/dioxus/build.rs
  packages/fullstack/examples/auth/.gitignore
  packages/fullstack/examples/auth/Cargo.toml
  packages/fullstack/examples/auth/src/auth.rs
  packages/fullstack/examples/auth/src/main.rs
  packages/fullstack/examples/desktop/.gitignore
  packages/fullstack/examples/desktop/Cargo.toml
  packages/fullstack/examples/desktop/src/client.rs
  packages/fullstack/examples/desktop/src/lib.rs
  packages/fullstack/examples/desktop/src/main.rs
  packages/fullstack/examples/desktop/src/server.rs
  packages/fullstack/examples/hackernews/Cargo.toml
  packages/fullstack/examples/hello-world/.gitignore
  packages/fullstack/examples/hello-world/Cargo.toml
  packages/fullstack/examples/hello-world/src/main.rs
  packages/fullstack/examples/router/.gitignore
  packages/fullstack/examples/router/Cargo.toml
  packages/fullstack/examples/router/src/main.rs
  packages/fullstack/examples/streaming/.gitignore
  packages/fullstack/examples/streaming/Cargo.toml
  packages/fullstack/examples/streaming/src/main.rs
Labels: tweak

#2794 Fix autocomplete in rsx
  packages/rsx/src/template_body.rs
Labels: rsx

#2289 Simplify and fix some issues with `#[component]` macro
  packages/core-macro/src/component.rs
Labels: core

#2808 Fix Option<T> with non path T types
  packages/core-macro/src/props/mod.rs
Labels: bug, core

#2799 Fix nested rsx expansion by not using template titles
  packages/cli/src/assets.rs
  packages/core/src/arena.rs
  packages/core/src/diff/mod.rs
  packages/core/src/diff/node.rs
  packages/core/src/error_boundary.rs
  packages/core/src/hotreload_utils.rs
  packages/core/src/mutations.rs
  packages/core/src/nodes.rs
  packages/core/src/root_wrapper.rs
  packages/core/src/virtual_dom.rs
  packages/core/tests/attr_cleanup.rs
  packages/core/tests/boolattrs.rs
  packages/core/tests/bubble_error.rs
  packages/core/tests/children_drop_futures.rs
  packages/core/tests/context_api.rs
  packages/core/tests/create_dom.rs
  packages/core/tests/create_element.rs
  packages/core/tests/create_lists.rs
  packages/core/tests/create_passthru.rs
  packages/core/tests/cycle.rs
  packages/core/tests/diff_component.rs
  packages/core/tests/diff_dynamic_node.rs
  packages/core/tests/diff_element.rs
  packages/core/tests/diff_keyed_list.rs
  packages/core/tests/diff_unkeyed_list.rs
  packages/core/tests/fuzzing.rs
  packages/core/tests/kitchen_sink.rs
  packages/core/tests/lifecycle.rs
  packages/core/tests/suspense.rs
  packages/desktop/headless_tests/events.rs
  packages/fullstack/examples/desktop/src/main.rs
  packages/interpreter/src/unified_bindings.rs
  packages/interpreter/src/write_native_mutations.rs
  packages/rsx/src/hot_reload/diff.rs
  packages/rsx/src/template_body.rs
  packages/ssr/src/renderer.rs
  packages/web/src/dom.rs
  packages/web/src/hydration/hydrate.rs
  packages/web/src/lib.rs
  packages/web/src/mutations.rs
Labels: bug, core, breaking

#2824 Update: wasm-bindgen
  Cargo.lock
Labels: cli

#2792 Synchronous prevent default
  Cargo.toml
  examples/file_upload.rs
  examples/link.rs
  examples/svg.rs
  examples/todomvc.rs
  packages/cli/src/serve/proxy.rs
  packages/cli/src/serve/server.rs
  packages/core-macro/tests/values_memoize_in_place.rs
  packages/core/README.md
  packages/core/src/arena.rs
  packages/core/src/diff/component.rs
  packages/core/src/diff/iterator.rs
  packages/core/src/diff/mod.rs
  packages/core/src/diff/node.rs
  packages/core/src/events.rs
  packages/core/src/nodes.rs
  packages/core/src/runtime.rs
  packages/core/src/suspense/component.rs
  packages/core/src/virtual_dom.rs
  packages/core/tests/event_propagation.rs
  packages/core/tests/fuzzing.rs
  packages/core/tests/lifecycle.rs
  packages/core/tests/miri_full_app.rs
  packages/core/tests/tracing.rs
  packages/desktop/Cargo.toml
  packages/desktop/src/app.rs
  packages/desktop/src/desktop_context.rs
  packages/desktop/src/edits.rs
  packages/desktop/src/launch.rs
  packages/desktop/src/protocol.rs
  packages/desktop/src/webview.rs
  packages/html/src/attribute_groups.rs
  packages/interpreter/src/js/hash.txt
  packages/interpreter/src/js/native.js
  packages/interpreter/src/ts/native.ts
  packages/interpreter/src/unified_bindings.rs
  packages/interpreter/src/write_native_mutations.rs
  packages/liveview/Cargo.toml
  packages/liveview/src/adapters/axum_adapter.rs
  packages/liveview/src/config.rs
  packages/liveview/src/launch.rs
  packages/liveview/src/lib.rs
  packages/liveview/src/main.js
  packages/liveview/src/pool.rs
  packages/playwright-tests/web.spec.js
  packages/playwright-tests/web/src/main.rs
  packages/router/src/components/history_buttons.rs
  packages/router/src/components/link.rs
  packages/router/src/contexts/router.rs
  packages/router/src/history/mod.rs
  packages/router/tests/via_ssr/link.rs
  packages/web/src/dom.rs
  packages/web/src/lib.rs
  packages/web/src/mutations.rs
Labels: core, web, breaking, desktop

#2828 Fix templates merging in debug mode in macros
  Cargo.lock
  packages/core/tests/fuzzing.rs
  packages/hot-reload/src/client.rs
  packages/html/src/web_sys_bind/events.rs
  packages/rsx/src/template_body.rs
Labels: bug, hot-reload, rsx

#2834 Fix mount use after removal/Simplify mounts a bit
  packages/core/src/any_props.rs
  packages/core/src/diff/component.rs
  packages/core/src/diff/iterator.rs
  packages/core/src/diff/node.rs
  packages/core/src/error_boundary.rs
  packages/core/src/lib.rs
  packages/core/src/nodes.rs
  packages/core/src/scope_arena.rs
  packages/core/src/scopes.rs
  packages/core/src/suspense/component.rs
  packages/core/src/suspense/mod.rs
  packages/core/tests/diff_dynamic_node.rs
  packages/core/tests/diff_keyed_list.rs
Labels: bug, core

#2841 Fix side-by-side fragments by walking in reverse
  Cargo.lock
  packages/core/src/diff/node.rs
  packages/core/tests/many_roots.rs
  packages/interpreter/src/write_native_mutations.rs
Labels: bug, core

#2843 Apply any queued hot reload changes when the client connects
  packages/cli/src/serve/mod.rs
  packages/cli/src/serve/server.rs
  packages/cli/src/serve/watcher.rs
Labels: bug, cli, hot-reload

#2842 Fix hot reloading component properties out of order
  Cargo.lock
  packages/core/src/hotreload_utils.rs
  packages/hot-reload/Cargo.toml
  packages/hot-reload/src/client.rs
  packages/rsx/src/hot_reload/diff.rs
  packages/rsx/tests/hotreload_pattern.rs
Labels: bug, hot-reload

#2479 Add the `onresize` event handler to Element
  examples/resize.rs
  packages/desktop/src/events.rs
  packages/html/Cargo.toml
  packages/html/src/events/mod.rs
  packages/html/src/events/resize.rs
  packages/html/src/transit.rs
  packages/html/src/web_sys_bind/events.rs
  packages/interpreter/src/js/core.js
  packages/interpreter/src/js/hash.txt
  packages/interpreter/src/js/native.js
  packages/interpreter/src/ts/core.ts
  packages/interpreter/src/ts/native.ts
  packages/interpreter/src/ts/serialize.ts
  packages/interpreter/src/unified_bindings.rs
  packages/interpreter/tsconfig.json
  packages/liveview/src/events.rs
  packages/web/Cargo.toml
  packages/web/src/dom.rs
  packages/web/src/event.rs
Labels: enhancement, breaking, html

#2848 Don't rebuild when the code is in an invalid intermediate state
  packages/cli/src/serve/watcher.rs
Labels: cli, tweak

#2849 fix collapsing of multiline components and rsx!{} calls
  packages/autofmt/src/lib.rs
  packages/autofmt/src/prettier_please.rs
  packages/autofmt/src/writer.rs
  packages/autofmt/tests/samples.rs
  packages/autofmt/tests/samples/collapse.rsx
Labels: bug, autoformatting

#2850 Fix: Make Toast Fixed & Increase Z-Index
  packages/cli/assets/toast.html
Labels: enhancement, cli

#2851 Move to a generic GlobalLazy<T>
  examples/global.rs
  packages/hooks/src/use_future.rs
  packages/hooks/src/use_resource.rs
  packages/rsx/src/template_body.rs
  packages/signals/src/copy_value.rs
  packages/signals/src/global/memo.rs
  packages/signals/src/global/mod.rs
  packages/signals/src/global/signal.rs
  packages/signals/src/map.rs
  packages/signals/src/memo.rs
  packages/signals/src/read.rs
  packages/signals/src/read_only_signal.rs
  packages/signals/src/signal.rs
Labels: breaking, tweak, signals

#2866 Fix hot reload custom element
  packages/rsx/src/attribute.rs
Labels: bug, hot-reload

#2862 Make desktop fullstack work with the CLI
  .cargo/config.toml
  Cargo.lock
  packages/cli/Cargo.toml
  packages/cli/src/builder/cargo.rs
  packages/cli/src/builder/fullstack.rs
  packages/cli/src/builder/mod.rs
  packages/cli/src/cli/build.rs
  packages/cli/src/cli/clean.rs
  packages/cli/src/dioxus_crate.rs
  packages/cli/src/serve/builder.rs
  packages/cli/src/serve/mod.rs
  packages/cli/src/serve/watcher.rs
  packages/fullstack/examples/auth/src/main.rs
  packages/fullstack/examples/desktop/Cargo.toml
  packages/fullstack/examples/desktop/src/client.rs
  packages/fullstack/examples/desktop/src/lib.rs
  packages/fullstack/examples/desktop/src/main.rs
  packages/fullstack/examples/desktop/src/server.rs
  packages/fullstack/src/axum_adapter.rs
  packages/fullstack/src/launch.rs
  packages/fullstack/src/render.rs
  packages/fullstack/src/serve_config.rs
  packages/static-generation/src/config.rs
Labels: breaking, desktop, cli, fullstack

#2852 Make use_callback and Callback bring the runtime with them
  packages/core/src/events.rs
  packages/core/src/runtime.rs
  packages/desktop/src/hooks.rs
  packages/hooks/src/use_callback.rs
  packages/hooks/src/use_future.rs
  packages/hooks/src/use_resource.rs
Labels: hooks

#2869 Fix: clippy, dont throw error on commas
  packages/core/src/suspense/component.rs
  packages/rsx/src/ifmt.rs
  packages/rsx/src/literal.rs
  packages/rsx/src/rsx_block.rs
Labels: bug, rsx

#2879 Bump sledgehammer
  Cargo.lock
  packages/interpreter/Cargo.toml
  packages/interpreter/src/write_native_mutations.rs
Labels: dependencies

#2872 Add placeholder doc comments to macro-generated enums
  packages/router-macro/src/lib.rs
  packages/router-macro/src/nest.rs
  packages/router-macro/src/redirect.rs
  packages/router-macro/src/route.rs
  packages/router-macro/src/segment.rs
Labels: documentation, router

#2899 Revert "feat: Manual impl of PartialEq for `Coroutine`"
  packages/hooks/src/use_coroutine.rs
Labels: bug, hooks

#2887 Fix script component src attribute
  packages/html/src/document/head.rs
Labels: bug, html

#2889 Finish the running examples section of the readme
  README.md
Labels: bug, documentation

#2886 Fix hot reloading components with keys
  packages/rsx/src/assign_dyn_ids.rs
  packages/rsx/src/attribute.rs
  packages/rsx/src/component.rs
  packages/rsx/src/element.rs
  packages/rsx/src/hot_reload/diff.rs
  packages/rsx/src/template_body.rs
  packages/rsx/tests/hotreload_pattern.rs
Labels: bug, hot-reload, rsx

#2903 Fix ordering issues when with_menu(None) is called before setting the window builder
  packages/desktop/src/config.rs
  packages/desktop/src/webview.rs
Labels: bug, desktop
