Repository DioxusLabs/dioxus, pull requests merged in 2024-09, with the labels that each got.

#2912 Use of `async_std::task::sleep` instead of `tokio::time::sleep` in examples
  Cargo.lock
  Cargo.toml
  examples/backgrounded_futures.rs
  examples/clock.rs
  examples/control_focus.rs
  examples/eval.rs
  examples/future.rs
  examples/signals.rs
  examples/streams.rs
Labels: example, tweak

#2896 Parse trailing route slash
  packages/fullstack/examples/router/src/main.rs
  packages/router-macro/src/lib.rs
  packages/router-macro/src/route_tree.rs
  packages/router-macro/src/segment.rs
  packages/router/tests/parsing.rs
Labels: bug, router

#2902 Allow hooks in the expression of a match statement and if statement
  packages/check/src/check.rs
  packages/check/src/issues.rs
  packages/check/src/metadata.rs
  packages/core/src/scope_context.rs
Labels: bug, check

#2920 Fix custom launch builder with unsized context types
  packages/dioxus/src/launch.rs
Labels: bug

#2945 Bump wry to 0.43
  Cargo.lock
  packages/desktop/Cargo.toml
Labels: desktop, dependencies

#2950 Remove mention of suspense/streaming in readme comparison
  README.md
Labels: documentation

#2935 Simplify TodoMVC example
  examples/todomvc.rs
Labels: example, tweak

#2951 Fix dx bundle command and resources panic
  packages/cli/src/cli/bundle.rs
Labels: bug

#2957 Chore: remove old cruft in web crate
  packages/web/NOTES.md
  packages/web/examples/README.md
  packages/web/examples/hydrate.rs
  packages/web/examples/timeout_count.rs
  packages/web/ric_raf/README.md
  packages/web/ric_raf/ric_raf.rs
  packages/web/ric_raf/ricpolyfill.js
  packages/web/tests/hydrate.rs
Labels: web

#2961 Skip running Nix CI for draft PRs
  .github/workflows/nix.yml
Labels: ci
