Repository DioxusLabs/dioxus, pull requests merged in 2024-05, with the labels that each got.

#2387 Make use_server_future accept FnMut
  packages/fullstack/src/hooks/server_future.rs
Labels: bug, fullstack

#2338 Add access to the Element attributes related to scrolling
  packages/desktop/src/element.rs
  packages/html/src/events/mounted.rs
  packages/html/src/geometry.rs
  packages/html/src/web_sys_bind/events.rs
  packages/interpreter/src/js/hash.txt
  packages/interpreter/src/js/native.js
  packages/interpreter/src/ts/native.ts
  packages/liveview/src/element.rs
Labels: enhancement, html

#2450 Set up example scraping for docs.rs
  Cargo.lock
  Cargo.toml
  examples/generic_component.rs
  examples/link.rs
  examples/login_form.rs
  examples/memo_chain.rs
  examples/scroll_to_top.rs
  examples/shorthand.rs
  examples/signals.rs
  examples/simple_list.rs
  packages/autofmt/Cargo.toml
  packages/check/src/issues.rs
  packages/cli-config/Cargo.toml
  packages/config-macro/Cargo.toml
  packages/core-macro/Cargo.toml
  packages/core/Cargo.toml
  packages/desktop/Cargo.toml
  packages/dioxus-lib/Cargo.toml
  packages/dioxus-lib/src/lib.rs
  packages/dioxus/Cargo.toml
  packages/fullstack/Cargo.toml
  packages/generational-box/Cargo.toml
  packages/hooks/Cargo.toml
  packages/hot-reload/Cargo.toml
  packages/html/Cargo.toml
  packages/liveview/Cargo.toml
  packages/mobile/Cargo.toml
  packages/router-macro/Cargo.toml
  packages/router/Cargo.toml
  packages/rsx-rosetta/Cargo.toml
  packages/rsx/Cargo.toml
  packages/server-macro/Cargo.toml
  packages/signals/Cargo.toml
  packages/ssr/Cargo.toml
  packages/static-generation/Cargo.toml
  packages/web/Cargo.toml
Labels: documentation
