Repository DioxusLabs/dioxus, pull requests merged in 2024-07, with the labels that each got.

#2573 Switch to using refs instead of owned for autofmt write block out
  packages/autofmt/src/lib.rs
  packages/cli/src/cli/translate.rs
  packages/extension/src/lib.rs
  packages/rsx-rosetta/examples/html.rs
  packages/rsx-rosetta/tests/h-tags.rs
  packages/rsx-rosetta/tests/raw.rs
  packages/rsx-rosetta/tests/simple.rs
  packages/rsx-rosetta/tests/web-component.rs
Labels: breaking, autoformatting

#2579 Switch to comments as placeholder nodes
  packages/html/src/render_template.rs
  packages/interpreter/src/js/core.js
  packages/interpreter/src/js/hash.txt
  packages/interpreter/src/ts/core.ts
  packages/interpreter/src/unified_bindings.rs
  packages/ssr/src/renderer.rs
  packages/web/Cargo.toml
  packages/web/src/mutations.rs
Labels: bug

#2578 Return error when unable to parse request uri
  packages/fullstack/src/axum_adapter.rs
Labels: bug, fullstack, backport

#2561 Use Manganis Linker System
  .github/workflows/main.yml
  Cargo.lock
  Cargo.toml
  packages/cli/src/assets.rs
  packages/cli/src/builder.rs
  packages/cli/src/cli/check.rs
  packages/cli/src/cli/link.rs
  packages/cli/src/cli/mod.rs
  packages/cli/src/cli/plugin.rs
  packages/cli/src/cli/serve.rs
  packages/cli/src/lib.rs
  packages/cli/src/main.rs
  packages/cli/src/server/desktop/mod.rs
  packages/cli/src/server/fullstack/mod.rs
  packages/cli/src/server/web/mod.rs
Labels: enhancement, cli

#2424 Feat: CLI Settings
  Cargo.lock
  Cargo.toml
  packages/cli-config/Cargo.toml
  packages/cli-config/src/config.rs
  packages/cli-config/src/lib.rs
  packages/cli-config/src/settings.rs
  packages/cli/Cargo.toml
  packages/cli/Dioxus.toml
  packages/cli/src/cli/cfg.rs
  packages/cli/src/cli/config.rs
  packages/cli/src/cli/serve.rs
  packages/cli/src/server/fullstack/mod.rs
  packages/cli/src/server/web/mod.rs
Labels: enhancement, breaking, cli

#2557 Partially Fix Hotreload
  Cargo.lock
  Cargo.toml
  packages/core/Cargo.toml
  packages/core/src/lib.rs
  packages/core/src/virtual_dom.rs
  packages/hot-reload/src/websocket.rs
  packages/rsx/src/hot_reload/hot_reloading_file_map.rs
  packages/rsx/src/renderer.rs
Labels: bug, core, cli, hot-reload

#2609 Expand component definition before errors to fix component autocomplete from other modules
  packages/rsx/src/component.rs
Labels: rsx

#2613 fix (desktop): hide menu when window decorations are disabled
  packages/desktop/src/config.rs
Labels: backport

#2607 Fix context type in static generation crate
  packages/fullstack/src/launch.rs
  packages/static-generation/src/launch.rs
Labels: bug, static-generation

#2608 Add a playwright test that checks static generation
  Cargo.lock
  Cargo.toml
  packages/cli-config/src/config.rs
  packages/playwright-tests/playwright.config.js
  packages/playwright-tests/static-generation.spec.js
  packages/playwright-tests/static-generation/.gitignore
  packages/playwright-tests/static-generation/Cargo.toml
  packages/playwright-tests/static-generation/src/main.rs
Labels: static-generation

#2618 feat (desktop): upgrade from wry 37 to 41
  Cargo.lock
  packages/desktop/Cargo.toml
  packages/desktop/src/app.rs
  packages/desktop/src/desktop_context.rs
  packages/desktop/src/file_upload.rs
  packages/desktop/src/webview.rs
Labels: desktop, dependencies

#2575 Improve warnings when trying to update outside of pending suspense boundaries on the server
  packages/core/src/any_props.rs
  packages/core/src/arena.rs
  packages/core/src/diff/component.rs
  packages/core/src/events.rs
  packages/core/src/runtime.rs
  packages/core/src/scope_arena.rs
  packages/core/src/scope_context.rs
  packages/core/src/suspense/component.rs
  packages/core/src/suspense/mod.rs
  packages/core/src/tasks.rs
  packages/core/src/virtual_dom.rs
  packages/fullstack/src/html_storage/serialize.rs
  packages/fullstack/src/render.rs
  packages/web/src/hydration/hydrate.rs
Labels: bug, core, fullstack

#2674 Fix deriving props with a where clause and an owner
  packages/core-macro/src/props/mod.rs
  packages/core-macro/tests/generics.rs
Labels: bug, core

#2657 Splash Screens
  .vscode/settings.json
  packages/cli-config/src/config.rs
  packages/cli/assets/loading.html
  packages/cli/src/builder/progress.rs
  packages/cli/src/serve/mod.rs
  packages/cli/src/serve/server.rs
Labels: enhancement, cli

#2625 Re-Export Manganis & Update Examples
  Cargo.lock
  Cargo.toml
  examples/all_events.rs
  examples/assets/dog_app.css
  examples/calculator.rs
  examples/clock.rs
  examples/control_focus.rs
  examples/counters.rs
  examples/crm.rs
  examples/dog_app.rs
  examples/dynamic_asset.rs
  examples/file_upload.rs
  examples/flat_router.rs
  examples/global.rs
  examples/link.rs
  examples/reducer.rs
  examples/router.rs
  examples/todomvc.rs
  packages/desktop/Cargo.toml
  packages/desktop/src/protocol.rs
  packages/dioxus/Cargo.toml
  packages/dioxus/src/lib.rs
  packages/router/Cargo.toml
Labels: enhancement

#2638 Fix generation race condition with sync storage
  packages/core/src/nodes.rs
  packages/generational-box/Cargo.toml
  packages/generational-box/src/entry.rs
  packages/generational-box/src/error.rs
  packages/generational-box/src/lib.rs
  packages/generational-box/src/references.rs
  packages/generational-box/src/sync.rs
  packages/generational-box/src/unsync.rs
  packages/generational-box/tests/basic.rs
  packages/generational-box/tests/errors.rs
  packages/generational-box/tests/sync.rs
  packages/signals/src/copy_value.rs
  packages/signals/src/signal.rs
Labels: bug, breaking, generation box

#2651 Allow no trailing comma after attributes
  packages/rsx/src/attribute.rs
Labels: bug, rsx

#2652 Expand to a partial Component if a shorthand attribute starts with a capital letter
  packages/rsx/src/rsx_block.rs
Labels: breaking, tweak, rsx

#2654 Disable browser shortcut keys on windows
  packages/desktop/src/webview.rs
Labels: bug, desktop

#2686 Fix: CLI Drain Logs
  packages/cli/src/serve/output.rs
Labels: bug, cli

#2687 Fix: Windows Hot Reload
  packages/cli/src/serve/watcher.rs
Labels: bug, cli

#2592 Web Eval: Use JSON Compatible Serializer
  packages/web/src/document.rs
Labels: enhancement, web, breaking

#2689 Fix: File Watcher Ignore List
  packages/cli/src/serve/watcher.rs
Labels: bug, cli

#2656 Fix rsx autocomplete and diagnostics in the root; provide better completions after attributes are finished
  packages/autofmt/src/writer.rs
  packages/core/tests/create_fragments.rs
  packages/core/tests/create_passthru.rs
  packages/router/examples/simple_routes.rs
  packages/rsx/src/element.rs
  packages/rsx/src/node.rs
  packages/rsx/src/rsx_block.rs
  packages/rsx/src/template_body.rs
Labels: bug, rsx

#2655 Parse raw elements, attributes, and web components in rsx
  examples/rsx_usage.rs
  packages/rsx/src/attribute.rs
  packages/rsx/src/element.rs
  packages/rsx/src/node.rs
  packages/rsx/src/rsx_block.rs
  packages/rsx/src/util.rs
Labels: tweak, rsx

#2679 Fix spread props diffing
  packages/core-macro/src/props/mod.rs
  packages/core-macro/tests/values_memoize_in_place.rs
Labels: bug, core

#2683 Improve error message when the CLI and dioxus versions don't match
  Cargo.lock
  packages/cli-config/Cargo.toml
  packages/cli-config/build.rs
  packages/cli-config/src/build_info.rs
  packages/cli-config/src/lib.rs
  packages/cli/src/builder/cargo.rs
Labels: cli, tweak

#2629 Better `expect` error messages
  packages/core/src/error_boundary.rs
  packages/core/src/events.rs
  packages/core/src/generational_box.rs
  packages/core/src/global_context.rs
  packages/core/src/properties.rs
  packages/core/src/runtime.rs
  packages/core/src/scope_arena.rs
  packages/core/src/scope_context.rs
  packages/core/src/scopes.rs
  packages/core/src/suspense/mod.rs
  packages/core/src/tasks.rs
  packages/signals/src/global/signal.rs
Labels: core, tweak

#2695 Fix playwright tests
  packages/cli/src/builder/mod.rs
  packages/cli/src/serve/mod.rs
  packages/cli/src/serve/server.rs
  packages/core/src/suspense/component.rs
  packages/desktop/src/document.rs
  packages/fullstack/Cargo.toml
  packages/fullstack/src/document/mod.rs
  packages/fullstack/src/document/server.rs
  packages/fullstack/src/document/web.rs
  packages/fullstack/src/launch.rs
  packages/fullstack/src/lib.rs
  packages/fullstack/src/render.rs
  packages/fullstack/src/serve_config.rs
  packages/html/src/document/mod.rs
  packages/liveview/src/eval.rs
  packages/playwright-tests/fullstack.spec.js
  packages/playwright-tests/nested-suspense-no-js.spec.js
  packages/playwright-tests/nested-suspense.spec.js
  packages/playwright-tests/playwright.config.js
  packages/playwright-tests/static-generation/src/main.rs
  packages/playwright-tests/suspense-carousel.spec.js
  packages/rsx/src/element.rs
  packages/ssr/src/lib.rs
  packages/ssr/src/renderer.rs
  packages/static-generation/src/launch.rs
  packages/static-generation/src/ssg.rs
  packages/web/src/document.rs
  packages/web/src/launch.rs
Labels: bug, ci

#2649 Unify the warning system
  Cargo.lock
  packages/core/Cargo.toml
  packages/core/src/properties.rs
  packages/core/src/virtual_dom.rs
  packages/hooks/Cargo.toml
  packages/hooks/src/use_coroutine.rs
  packages/hooks/src/use_reactive.rs
  packages/signals/Cargo.toml
  packages/signals/src/read_only_signal.rs
  packages/signals/src/signal.rs
Labels: bug, core, hooks, tweak

#2642 Add a deprecation warning for the resource option in dioxus.toml
  examples/PWA-example/Dioxus.toml
  examples/openid_connect_demo/Dioxus.toml
  examples/tailwind/Dioxus.toml
  packages/cli/Dioxus.toml
  packages/cli/assets/dioxus.toml
  packages/cli/src/builder/prepare_html.rs
  packages/cli/src/builder/web.rs
Labels: cli

#2698 Make dioxus-cli a binary - not a library
  packages/cli/src/lib.rs
  packages/cli/src/main.rs
Labels: cli

#2697 fix formatting and merging if chains in attributes
  examples/rsx_usage.rs
  packages/autofmt/src/rsx_block.rs
  packages/autofmt/src/writer.rs
  packages/rsx/src/attribute.rs
  packages/rsx/src/element.rs
  packages/rsx/src/ifchain.rs
  packages/rsx/src/ifmt.rs
  packages/rsx/src/scoring.rs
Labels: bug, rsx

#2700 Make the web config optional in dioxus.toml
  packages/cli-config/src/config.rs
Labels: cli, tweak

#2702 CLI: Toasts & Tweaks
  packages/cli/assets/loading.html
  packages/cli/assets/toast.html
  packages/cli/src/builder/prepare_html.rs
  packages/cli/src/builder/progress.rs
  packages/cli/src/serve/mod.rs
  packages/cli/src/serve/server.rs
  packages/desktop/src/app.rs
  packages/hot-reload/src/lib.rs
  packages/liveview/src/pool.rs
  packages/web/src/hot_reload.rs
Labels: enhancement, cli, tweak

#2688 Use head elements and new manganis syntax in examples
  Cargo.lock
  examples/all_events.rs
  examples/assets/overlay.css
  examples/assets/read_size.css
  examples/calculator.rs
  examples/calculator_mutable.rs
  examples/clock.rs
  examples/control_focus.rs
  examples/counters.rs
  examples/crm.rs
  examples/custom_assets.rs
  examples/dynamic_asset.rs
  examples/file_explorer.rs
  examples/file_upload.rs
  examples/flat_router.rs
  examples/global.rs
  examples/image_generator_openai.rs
  examples/link.rs
  examples/overlay.rs
  examples/read_size.rs
  examples/reducer.rs
  examples/router.rs
  examples/tailwind/src/main.rs
  examples/todomvc.rs
  examples/weather_app.rs
  examples/window_event.rs
  packages/desktop/Cargo.toml
  packages/desktop/build.rs
  packages/fullstack/examples/hackernews/assets/hackernews.css
  packages/fullstack/examples/hackernews/src/main.rs
  packages/html/src/document/head.rs
Labels: example

#2650 Parse redirects in the same order they appear in
  packages/router-macro/src/lib.rs
  packages/router-macro/src/route_tree.rs
  packages/router/tests/via_ssr/main.rs
  packages/router/tests/via_ssr/redirect.rs
Labels: bug, router

#2714 Fix #2612: adjust readable trait to allow try_peek
  Cargo.lock
  packages/generational-box/src/error.rs
  packages/hooks/src/use_future.rs
  packages/hooks/src/use_resource.rs
  packages/signals/src/copy_value.rs
  packages/signals/src/global/memo.rs
  packages/signals/src/global/signal.rs
  packages/signals/src/impls.rs
  packages/signals/src/map.rs
  packages/signals/src/memo.rs
  packages/signals/src/read.rs
  packages/signals/src/read_only_signal.rs
  packages/signals/src/signal.rs
Labels: breaking

#2685 TUI tweaks
  packages/cli/src/serve/mod.rs
  packages/cli/src/serve/output.rs
Labels: cli, tweak

#2728 implement HasMouseData for WheelEvent
  packages/html/src/events/wheel.rs
  packages/html/src/web_sys_bind/events.rs
Labels: bug, html

#2721 Fix WSL Hot Reload
  packages/cli/src/cli/config.rs
  packages/cli/src/cli/serve.rs
  packages/cli/src/serve/mod.rs
  packages/cli/src/serve/watcher.rs
  packages/cli/src/settings.rs
Labels: bug, cli

#2719 Follow-up for error messages in core
  packages/core/src/error_boundary.rs
  packages/core/src/events.rs
  packages/core/src/generational_box.rs
  packages/core/src/global_context.rs
  packages/core/src/reactive_context.rs
  packages/core/src/scope_arena.rs
  packages/core/src/scope_context.rs
  packages/core/src/suspense/mod.rs
  packages/core/src/tasks.rs
Labels: core, tweak

#2737 Fix: Enable/Disable Hot Reload
  packages/cli/src/serve/mod.rs
Labels: bug, cli, hot-reload

#2705 Switch to a pool of dynamic values for hot reloading
  packages/cli/src/serve/hot_reloading_file_map.rs
  packages/core/src/diff/iterator.rs
  packages/core/src/diff/mod.rs
  packages/core/src/diff/node.rs
  packages/core/src/hotreload_utils.rs
  packages/core/src/lib.rs
  packages/core/src/nodes.rs
  packages/core/src/virtual_dom.rs
  packages/core/tests/attributes_pass.rs
  packages/core/tests/hotreload.rs
  packages/hot-reload/src/client.rs
  packages/hot-reload/src/lib.rs
  packages/html/src/document/head.rs
  packages/rsx-rosetta/src/lib.rs
  packages/rsx/src/assign_dyn_ids.rs
  packages/rsx/src/attribute.rs
  packages/rsx/src/component.rs
  packages/rsx/src/element.rs
  packages/rsx/src/hot_reload/collect.rs
  packages/rsx/src/hot_reload/context.rs
  packages/rsx/src/hot_reload/diff.rs
  packages/rsx/src/hot_reload/last_build_state.rs
  packages/rsx/src/hot_reload/mod.rs
  packages/rsx/src/hotreload.rs
  packages/rsx/src/ifchain.rs
  packages/rsx/src/ifmt.rs
  packages/rsx/src/lib.rs
  packages/rsx/src/literal.rs
  packages/rsx/src/node.rs
  packages/rsx/src/reload_stack.rs
  packages/rsx/src/rsx_call.rs
  packages/rsx/src/scoring.rs
  packages/rsx/src/template_body.rs
  packages/rsx/src/text_node.rs
  packages/rsx/src/util.rs
  packages/rsx/tests/hotreload_pattern.rs
  packages/rsx/tests/parsing.rs
  packages/ssr/src/cache.rs
  packages/ssr/src/renderer.rs
  packages/web/src/hydration/hydrate.rs
Labels: enhancement, core, breaking, hot-reload

#2744 Fix component names when they are re-exported
  packages/core-macro/src/props/mod.rs
  packages/core/src/properties.rs
  packages/core/src/root_wrapper.rs
  packages/core/src/suspense/component.rs
  packages/rsx/src/component.rs
Labels: bug, core, breaking, rsx

#2746 Fix diffing Option<String>
  packages/core/src/diff/mod.rs
  packages/core/src/diff/node.rs
  packages/core/tests/diff_dynamic_node.rs
Labels: bug, core

#2748 Don't print the asset path on desktop
  packages/desktop/src/protocol.rs
Labels: desktop

#2749 Fix list diffing with root dynamic nodes
  packages/core/src/diff/node.rs
  packages/core/tests/diff_unkeyed_list.rs
Labels: bug, core

#2750 Fix hot reloading spreads
  packages/rsx/src/element.rs
  packages/rsx/tests/hotreload_pattern.rs
Labels: bug, hot-reload

#2745 Workspace support for `dx fmt`
  packages/cli/src/cli/autoformat.rs
Labels: cli, autoformatting

#2734 Fix 2265: close tui on success, custom tui subscriber
  packages/cli/src/assets.rs
  packages/cli/src/builder/mod.rs
  packages/cli/src/builder/prepare_html.rs
  packages/cli/src/builder/progress.rs
  packages/cli/src/cli/serve.rs
  packages/cli/src/main.rs
  packages/cli/src/serve/builder.rs
  packages/cli/src/serve/mod.rs
  packages/cli/src/serve/output.rs
  packages/cli/src/tracer.rs
Labels: cli

#2756 Fix the base path in the CLI
  packages/cli/src/assets.rs
  packages/cli/src/builder/cargo.rs
  packages/cli/src/serve/builder.rs
  packages/cli/src/serve/server.rs
Labels: bug, cli
