Repository DioxusLabs/dioxus, pull requests merged in 2024-11, with the labels that each got.

#3156 Fix isg streaming
  packages/fullstack/src/render.rs
Labels: bug, fullstack

#3178 Fix as web event
  packages/web/src/events/animation.rs
  packages/web/src/events/clipboard.rs
  packages/web/src/events/composition.rs
  packages/web/src/events/drag.rs
  packages/web/src/events/focus.rs
  packages/web/src/events/keyboard.rs
  packages/web/src/events/media.rs
  packages/web/src/events/mounted.rs
  packages/web/src/events/mouse.rs
  packages/web/src/events/pointer.rs
  packages/web/src/events/resize.rs
  packages/web/src/events/selection.rs
  packages/web/src/events/toggle.rs
  packages/web/src/events/touch.rs
  packages/web/src/events/wheel.rs
Labels: bug, web, html

#3173 Fix subscriptions for read only signals passed as props
  Cargo.lock
  packages/core/src/reactive_context.rs
  packages/generational-box/src/lib.rs
  packages/generational-box/tests/basic.rs
  packages/generational-box/tests/reference_counting.rs
  packages/signals/src/copy_value.rs
  packages/signals/src/read_only_signal.rs
  packages/signals/src/signal.rs
Labels: bug, signals

#3198 Fix: CLI Fullstack Executable File Extension
  packages/cli/src/builder/bundle.rs
Labels: enhancement, cli

#3201 Don't run effects from dead recycled scopes
  packages/core/src/runtime.rs
  packages/core/src/scheduler.rs
Labels: bug, core

#3194 Fix write on render warning with read only signal props
  Cargo.lock
  Cargo.toml
  packages/signals/src/read_only_signal.rs
Labels: bug

#3215 Feat: Android Dynamic Arch Support
  packages/cli/src/build/bundle.rs
  packages/cli/src/build/request.rs
  packages/cli/src/build/verify.rs
  packages/cli/src/cli/build.rs
  packages/cli/src/cli/bundle.rs
  packages/cli/src/cli/run.rs
  packages/cli/src/cli/serve.rs
  packages/cli/src/cli/target.rs
  packages/cli/src/dioxus_crate.rs
  packages/cli/src/serve/mod.rs
Labels: enhancement, cli

#3220 Fix: Asset Warnings On Windows
  packages/manganis/manganis-macro/src/asset.rs
Labels: bug, manganis

#3239 Fix: CLI Windows Write `exe` Errors
  packages/cli/src/serve/mod.rs
  packages/cli/src/serve/runner.rs
Labels: bug, cli

#3247 Fix base path on web and fullstack
  Cargo.lock
  packages/cli-config/Cargo.toml
  packages/cli-config/src/lib.rs
  packages/cli/src/build/request.rs
  packages/cli/src/build/web.rs
  packages/cli/src/config/web.rs
  packages/cli/src/serve/handle.rs
  packages/cli/src/serve/mod.rs
  packages/cli/src/serve/runner.rs
  packages/dioxus/Cargo.toml
  packages/dioxus/src/launch.rs
  packages/fullstack/src/render.rs
  packages/fullstack/src/server/launch.rs
  packages/history/src/memory.rs
  packages/manganis/manganis-core/Cargo.toml
  packages/manganis/manganis-core/src/asset.rs
  packages/router/src/components/link.rs
  packages/router/src/contexts/router.rs
  packages/web/Cargo.toml
  packages/web/src/history/mod.rs
Labels: bug, cli, router
