Repository DioxusLabs/dioxus, pull requests merged in 2024-02, with the labels that each got.

#1910 Implement Readable for mapped signal
  Cargo.lock
  Cargo.toml
  packages/generational-box/src/lib.rs
  packages/generational-box/src/sync.rs
  packages/generational-box/src/unsync.rs
  packages/signals/Cargo.toml
  packages/signals/examples/map_signal.rs
  packages/signals/src/copy_value.rs
  packages/signals/src/global/memo.rs
  packages/signals/src/global/signal.rs
  packages/signals/src/impls.rs
  packages/signals/src/map.rs
  packages/signals/src/read.rs
  packages/signals/src/read_only_signal.rs
  packages/signals/src/signal.rs
  packages/signals/src/write.rs
Labels: enhancement, signals

#1926 Fix client side suspense
  packages/core/src/virtual_dom.rs
  packages/web/src/lib.rs
Labels: bug, core

#1925 Fix the web renderer freezing when the hot reload connection fails
  packages/web/src/lib.rs
Labels: bug, web, hot-reload

#1934 Warn the user if they try to launch without a renderer selected
  packages/dioxus/Cargo.toml
  packages/dioxus/build.rs
  packages/dioxus/src/launch.rs
  packages/signals/Cargo.toml
Labels: enhancement

#1948 feat(fullstack): support wasm target
  Cargo.lock
  packages/cli/src/server/web/mod.rs
  packages/fullstack/Cargo.toml
  packages/fullstack/src/axum_adapter.rs
  packages/fullstack/src/launch.rs
  packages/fullstack/src/lib.rs
  packages/fullstack/src/render.rs
  packages/fullstack/src/serve_config.rs
  packages/ssr/Cargo.toml
  packages/ssr/src/fs_cache.rs
  packages/ssr/src/incremental.rs
Labels: enhancement, fullstack

#1982 Add debug information for signal subscriptions
  packages/core/src/diff/component.rs
  packages/core/src/scopes.rs
  packages/core/src/virtual_dom.rs
  packages/hooks/src/use_effect.rs
  packages/signals/src/reactive_context.rs
  packages/signals/src/signal.rs
Labels: tweak, signals

#1949 Add tracing to virtual_dom
  Cargo.lock
  packages/core/Cargo.toml
  packages/core/src/virtual_dom.rs
  packages/core/tests/tracing.rs
Labels: enhancement, core
