Repository DioxusLabs/dioxus, pull requests merged in 2024-06, with the labels that each got.

#2480 Remove value attribute instead of resetting it
  packages/interpreter/src/unified_bindings.rs
Labels: bug, backport

#2443 Fix memo and resource line info
  packages/hooks/src/use_resource.rs
  packages/signals/src/memo.rs
  packages/signals/src/signal.rs
Labels: bug, tweak, signals, backport

#2477 Fix routers without an index route
  packages/router/src/router_cfg.rs
  packages/router/tests/via_ssr/main.rs
  packages/router/tests/via_ssr/without_index.rs
Labels: bug, router, backport

#2484 Fix event bubbling inside templates after a hot template reload
  packages/core/src/arena.rs
  packages/core/src/diff/node.rs
  packages/core/src/nodes.rs
  packages/core/src/virtual_dom.rs
Labels: bug, core, fullstack, hot-reload, backport

#2474 Update openid example
  examples/openid_connect_demo/.cargo/config.toml
  examples/openid_connect_demo/Cargo.lock
  examples/openid_connect_demo/Cargo.toml
  examples/openid_connect_demo/README.md
  examples/openid_connect_demo/src/errors.rs
  examples/openid_connect_demo/src/main.rs
  examples/openid_connect_demo/src/oidc.rs
  examples/openid_connect_demo/src/storage.rs
  examples/openid_connect_demo/src/views/header.rs
  examples/openid_connect_demo/src/views/login.rs
Labels: example

#2283 Change ToRouteSegments to borrow self
  packages/router-macro/src/lib.rs
  packages/router-macro/src/segment.rs
  packages/router/src/routable.rs
Labels: breaking, router

#2419 Fix recursive copy while bundling
  packages/cli/src/cli/bundle.rs
  packages/desktop/src/protocol.rs
Labels: bug, cli, backport

#2461 Detect components called as functions
  packages/core-macro/src/component.rs
  packages/core/src/lib.rs
  packages/core/src/properties.rs
Labels: tweak

#2488 switch from slab to slotmap for tasks to fix the ABA problem
  Cargo.lock
  Cargo.toml
  packages/core/Cargo.toml
  packages/core/src/runtime.rs
  packages/core/src/tasks.rs
Labels: bug, core, hooks, backport

#2437 Create closure type; allow async event handlers in props; allow short hand event handlers
  examples/calculator_mutable.rs
  examples/rsx_usage.rs
  examples/shorthand.rs
  examples/weather_app.rs
  packages/core-macro/src/props/mod.rs
  packages/core-macro/tests/event_handler.rs
  packages/core/src/events.rs
  packages/core/src/lib.rs
  packages/html/src/events/mod.rs
  packages/router/examples/simple_routes.rs
  packages/rsx/src/attribute.rs
Labels: core, breaking, tweak

#2501 Ignore `#[props(into)]` on Strings
  packages/core-macro/src/props/mod.rs
Labels: breaking, tweak, rsx

#2502 Improve server eval error message
  packages/html/src/eval.rs
Labels: documentation, tweak, html, backport

#2434 Integrate wasm-opt into the CLI
  Cargo.lock
  packages/cli-config/src/config.rs
  packages/cli/Cargo.toml
  packages/cli/src/assets/dioxus.toml
  packages/cli/src/builder.rs
  packages/cli/src/tools.rs
Labels: web, cli, performance

#2323 add file size to FileEngine
  packages/html/src/file_data.rs
  packages/html/src/native_bind/native_file_engine.rs
  packages/web/src/file_engine.rs
Labels: enhancement, breaking, html

#2505 Fix hydration of empty text nodes
  packages/interpreter/src/js/core.js
  packages/interpreter/src/js/hash.txt
  packages/interpreter/src/ts/core.ts
Labels: bug, fullstack, backport

#2507 Add CI step to test packages with debug assertions off
  .github/workflows/main.yml
  Cargo.toml
  packages/desktop/src/app.rs
  packages/generational-box/tests/errors.rs
Labels: enhancement, ci

#2535 Update `dioxus_desktop::Config` to also allow for asynchronous custom protocol handlers
  packages/desktop/src/config.rs
  packages/desktop/src/webview.rs
Labels: enhancement, desktop, backport

#2517 Assert that launch never returns for better compiler errors
  packages/desktop/src/launch.rs
  packages/dioxus/src/launch.rs
  packages/fullstack/src/launch.rs
  packages/liveview/src/launch.rs
  packages/web/src/launch.rs
Labels: tweak

#2520 Fix raw attribute names
  packages/html/src/attribute_groups.rs
Labels: bug, html

#2522 Document props and component macro
  packages/core-macro/docs/component.md
  packages/core-macro/docs/props.md
  packages/core-macro/docs/rsx.md
  packages/core-macro/src/lib.rs
  packages/core/src/global_context.rs
  packages/core/src/scope_context.rs
  packages/dioxus/src/lib.rs
  packages/rsx/src/sub_templates.rs
Labels: documentation, core

#2514 Simplify dioxus-config-macro
  packages/config-macro/src/lib.rs
  packages/core/src/events.rs
  packages/hooks/src/use_callback.rs
  packages/signals/src/read.rs
Labels: tweak

#2512 Remove implicit optional dependency features
  Cargo.toml
  packages/cli-config/Cargo.toml
  packages/cli/Cargo.toml
  packages/core/Cargo.toml
  packages/desktop/Cargo.toml
  packages/desktop/src/launch.rs
  packages/dioxus-lib/Cargo.toml
  packages/dioxus/Cargo.toml
  packages/fullstack/Cargo.toml
  packages/hot-reload/Cargo.toml
  packages/html/Cargo.toml
  packages/interpreter/Cargo.toml
  packages/liveview/Cargo.toml
  packages/router/Cargo.toml
  packages/router/src/history/web_scroll.rs
  packages/router/src/router_cfg.rs
  packages/rsx/Cargo.toml
  packages/signals/Cargo.toml
  packages/signals/src/copy_value.rs
  packages/signals/src/read_only_signal.rs
  packages/signals/src/signal.rs
  packages/ssr/Cargo.toml
  packages/static-generation/Cargo.toml
  packages/web/Cargo.toml
Labels: breaking, dependencies

#2538 Convert closures into Option<Callback> automatcially
  packages/core/src/properties.rs
Labels: enhancement, core

#2515 Make it easier to provide context to fullstack
  Cargo.lock
  packages/dioxus/Cargo.toml
  packages/dioxus/src/launch.rs
  packages/dioxus/src/lib.rs
  packages/fullstack/Cargo.toml
  packages/fullstack/examples/axum-auth/src/main.rs
  packages/fullstack/examples/axum-desktop/src/server.rs
  packages/fullstack/src/axum_adapter.rs
  packages/fullstack/src/config.rs
  packages/fullstack/src/launch.rs
  packages/fullstack/src/lib.rs
  packages/fullstack/src/server_context.rs
Labels: enhancement, breaking, fullstack

#2506 Deduplicate reactive scope updates/Reset subscriptions on reruns/fix use memo double update
  Cargo.lock
  packages/core-macro/Cargo.toml
  packages/core-macro/tests/values_memoize_in_place.rs
  packages/core/docs/reactivity.md
  packages/core/src/generational_box.rs
  packages/core/src/lib.rs
  packages/core/src/reactive_context.rs
  packages/core/src/scope_arena.rs
  packages/core/src/scope_context.rs
  packages/core/src/scopes.rs
  packages/hooks/src/use_effect.rs
  packages/hooks/src/use_resource.rs
  packages/hooks/tests/memo.rs
  packages/signals/src/lib.rs
  packages/signals/src/memo.rs
  packages/signals/src/reactive_context.rs
  packages/signals/src/set_compare.rs
  packages/signals/src/signal.rs
Labels: bug, core, hooks, signals

#2540 add aria-current to link
  packages/router/src/components/link.rs
  packages/router/tests/via_ssr/link.rs
Labels: enhancement, html

#2543 Revision: Change Default Fullstack IP
  packages/fullstack/src/config.rs
Labels: fullstack

#2521 Forward cli serve settings and make it easier to provide platform config to fullstack
  Cargo.lock
  packages/cli-config/src/lib.rs
  packages/cli-config/src/serve.rs
  packages/cli/src/cli/cfg.rs
  packages/cli/src/server/desktop/mod.rs
  packages/cli/src/server/fullstack/mod.rs
  packages/cli/src/server/mod.rs
  packages/cli/src/server/output.rs
  packages/cli/src/server/web/mod.rs
  packages/dioxus/src/launch.rs
  packages/fullstack/Cargo.toml
  packages/fullstack/examples/axum-router/src/main.rs
  packages/fullstack/src/config.rs
  packages/fullstack/src/launch.rs
  packages/fullstack/src/lib.rs
  packages/playwright-tests/fullstack/src/main.rs
  packages/playwright-tests/playwright.config.js
  packages/playwright-tests/web.spec.js
Labels: enhancement, breaking, fullstack
