Repository DioxusLabs/dioxus, pull requests merged in 2024-01, with the labels that each got.

#1777 Add Cargo Arguments and Cross-Architecture Support
  packages/cli/src/builder.rs
  packages/cli/src/cli/build.rs
  packages/cli/src/cli/bundle.rs
  packages/cli/src/cli/cfg.rs
  packages/cli/src/cli/serve.rs
  packages/cli/src/config.rs
Labels: enhancement, cli

#1747 Fix invalid locations never being dropped
  packages/generational-box/src/lib.rs
Labels: bug, generation box

#1743 Fix the on double click event and depreciate ondblclick
  examples/all_events.rs
  examples/todomvc.rs
  packages/desktop/headless_tests/events.rs
  packages/dioxus-tui/examples/all_terminal_events.rs
  packages/fullstack/src/hooks/server_cached.rs
  packages/html/src/events/mouse.rs
  packages/web/src/cache.rs
Labels: bug, tweak, html

#1741 Clear the cache on rebuild in the incremental renderer
  packages/ssr/src/incremental_cfg.rs
Labels: bug, tweak, ssr

#1708 Fix spawn forever
  packages/core/src/scope_context.rs
Labels: bug, core

#1748 Make the type name optional in the server function docs
  packages/server-macro/src/lib.rs
Labels: documentation, fullstack

#1742 Don't cache assets in the CLI
  packages/cli/src/server/web/mod.rs
Labels: cli

#1781 Fix non string layout attributes in rink
  packages/rink/src/layout.rs
Labels: bug, tui

#1738 Bump the version of Salvo
  packages/fullstack/Cargo.toml
  packages/fullstack/examples/salvo-hello-world/Cargo.toml
  packages/liveview/Cargo.toml
Labels: breaking, dependencies, liveview, fullstack

#1719 Add custom asset handler to desktop config
  examples/dynamic_asset.rs
  examples/mobile_demo/Cargo.toml
  packages/desktop/Cargo.toml
  packages/desktop/src/desktop_context.rs
  packages/desktop/src/lib.rs
  packages/desktop/src/mobile_shortcut.rs
  packages/desktop/src/protocol.rs
  packages/desktop/src/shortcut.rs
  packages/desktop/src/webview.rs
  packages/html/Cargo.toml
Labels: enhancement, breaking, desktop

#1696 add default menu bar in dioxus-desktop to resolve #1691
  packages/desktop/src/cfg.rs
  packages/desktop/src/lib.rs
  packages/desktop/src/webview.rs
Labels: enhancement, desktop

#1428 Update to wry 0.34.0
  packages/desktop/src/webview.rs
Labels: bug, breaking, desktop, dependencies

#1393 Fix event multi node event bubbling
  packages/core/src/arena.rs
  packages/core/src/create.rs
  packages/core/src/diff.rs
  packages/core/src/fragment.rs
  packages/core/src/nodes.rs
  packages/core/src/scope_arena.rs
  packages/core/src/scopes.rs
  packages/core/src/virtual_dom.rs
  packages/core/tests/event_propagation.rs
  packages/core/tests/fuzzing.rs
  packages/fullstack/src/hooks/server_cached.rs
  packages/native-core/tests/fuzzing.rs
  packages/rsx/src/lib.rs
Labels: bug, core, breaking

#1710 Make cx.spawn poll the task before returning `TaskId`
  examples/compose.rs
  packages/core/src/scheduler/task.rs
  packages/hooks/src/use_effect.rs
Labels: core, breaking, tweak

#1534 Binary protocol for desktop and liveview
  examples/openid_connect_demo/src/errors.rs
  packages/core/src/mutations.rs
  packages/desktop/.gitignore
  packages/desktop/Cargo.toml
  packages/desktop/build.rs
  packages/desktop/examples/stress.rs
  packages/desktop/headless_tests/events.rs
  packages/desktop/src/cfg.rs
  packages/desktop/src/desktop_context.rs
  packages/desktop/src/element.rs
  packages/desktop/src/lib.rs
  packages/desktop/src/protocol.rs
  packages/desktop/src/webview.rs
  packages/interpreter/Cargo.toml
  packages/interpreter/src/bindings.rs
  packages/interpreter/src/common.js
  packages/interpreter/src/interpreter.js
  packages/interpreter/src/lib.rs
  packages/interpreter/src/sledgehammer_bindings.rs
  packages/liveview/.gitignore
  packages/liveview/Cargo.toml
  packages/liveview/build.rs
  packages/liveview/examples/axum_stress.rs
  packages/liveview/src/adapters/axum_adapter.rs
  packages/liveview/src/element.rs
  packages/liveview/src/lib.rs
  packages/liveview/src/main.js
  packages/liveview/src/pool.rs
  packages/liveview/src/query.rs
  packages/web/Cargo.toml
  packages/web/src/dom.rs
  packages/web/src/lib.rs
Labels: enhancement, breaking, desktop, performance, liveview

#1463 Implement multiple optional attributes
  examples/rsx_usage.rs
  examples/tailwind/src/main.rs
  packages/autofmt/src/element.rs
  packages/autofmt/src/writer.rs
  packages/autofmt/tests/samples/simple.rsx
  packages/core/tests/kitchen_sink.rs
  packages/rsx-rosetta/src/lib.rs
  packages/rsx/Cargo.toml
  packages/rsx/src/attribute.rs
  packages/rsx/src/element.rs
  packages/rsx/src/errors.rs
  packages/rsx/src/ifmt.rs
  packages/rsx/src/lib.rs
  packages/rsx/src/node.rs
  packages/ssr/src/renderer.rs
Labels: enhancement, breaking, html

#1572 Feat: add global context functions
  examples/button.rs
  examples/compose.rs
  examples/crm.rs
  examples/eval.rs
  examples/login_form.rs
  examples/multiwindow.rs
  examples/overlay.rs
  examples/window_zoom.rs
  packages/desktop/src/desktop_context.rs
  packages/desktop/src/lib.rs
  packages/html/src/eval.rs
  packages/router/examples/simple_routes.rs
  packages/router/src/contexts/navigator.rs
  packages/router/src/hooks/use_navigator.rs
  packages/router/src/hooks/use_router.rs
  packages/router/src/lib.rs
Labels: breaking, desktop, router, tweak

#1624 rename IntoDynNode and IntoTemplate traits
  packages/core/src/nodes.rs
  packages/core/src/scopes.rs
  packages/rsx/src/node.rs
Labels: core, breaking

#1618 Document and improve the throw trait
  Cargo.toml
  examples/error_handle.rs
  packages/core/src/diff.rs
  packages/core/src/error_boundary.rs
  packages/core/src/lib.rs
  packages/core/src/scope_context.rs
  packages/core/src/scopes.rs
  packages/core/src/virtual_dom.rs
  packages/core/tests/error_boundary.rs
Labels: enhancement, core

#1732 Make hydration more resilient
  packages/core/tests/suspense.rs
  packages/fullstack/examples/axum-hello-world/src/main.rs
  packages/fullstack/src/adapters/axum_adapter.rs
  packages/fullstack/src/hooks/server_cached.rs
  packages/interpreter/src/sledgehammer_bindings.rs
  packages/ssr/src/cache.rs
  packages/ssr/src/renderer.rs
  packages/ssr/tests/hydration.rs
  packages/ssr/tests/simple.rs
  packages/web/examples/hydrate.rs
  packages/web/src/dom.rs
  packages/web/src/lib.rs
  packages/web/src/rehydrate.rs
Labels: enhancement, fullstack

#1369 Unify Collecting and Optimizing Assets
  .github/workflows/cli_release.yml
  .github/workflows/main.yml
  .github/workflows/miri.yml
  .github/workflows/playwright.yml
  examples/compose.rs
  examples/custom_assets.rs
  examples/file_explorer.rs
  examples/tailwind/Dioxus.toml
  examples/tailwind/dist/tailwind3531548035813279582.css
  examples/tailwind/src/main.rs
  examples/todomvc.rs
  packages/cli/Cargo.toml
  packages/cli/src/builder.rs
  packages/cli/src/cli/build.rs
  packages/cli/src/cli/bundle.rs
  packages/cli/src/cli/cfg.rs
  packages/cli/src/cli/clean.rs
  packages/cli/src/cli/serve.rs
  packages/cli/src/config.rs
  packages/cli/src/main.rs
  packages/cli/src/server/desktop/mod.rs
  packages/cli/src/server/fullstack/mod.rs
  packages/cli/src/server/mod.rs
  packages/cli/src/server/web/mod.rs
  packages/core/src/runtime.rs
  packages/core/tests/task.rs
  packages/desktop/Cargo.toml
  packages/desktop/headless_tests/events.rs
  packages/desktop/headless_tests/rendering.rs
  packages/desktop/src/collect_assets.rs
  packages/desktop/src/lib.rs
  packages/desktop/src/protocol.rs
  packages/desktop/src/webview.rs
  packages/dioxus/Cargo.toml
  packages/dioxus/src/lib.rs
  packages/fullstack/Cargo.toml
  packages/fullstack/examples/axum-auth/.gitignore
  packages/fullstack/examples/axum-desktop/.gitignore
  packages/fullstack/examples/axum-hello-world/.gitignore
  packages/fullstack/examples/axum-router/.gitignore
  packages/fullstack/examples/salvo-hello-world/.gitignore
  packages/fullstack/examples/static-hydrated/.gitignore
  packages/fullstack/examples/warp-hello-world/.gitignore
  packages/fullstack/src/adapters/axum_adapter.rs
  packages/fullstack/src/adapters/salvo_adapter.rs
  packages/fullstack/src/adapters/warp_adapter.rs
  packages/fullstack/src/collect_assets.rs
  packages/fullstack/src/lib.rs
  packages/hot-reload/src/file_watcher.rs
  playwright-tests/playwright.config.js
Labels: enhancement, cli

#1680 Automatically derive standard query parsing in the router macro
  examples/query_segments_demo/src/main.rs
  packages/router-macro/src/lib.rs
  packages/router-macro/src/query.rs
  packages/router-macro/src/route.rs
  packages/router-macro/src/segment.rs
  packages/router/src/routable.rs
Labels: breaking, router

#1349 feat: props spread
  Cargo.toml
  examples/README.md
  examples/spread.rs
  packages/autofmt/src/element.rs
  packages/autofmt/src/writer.rs
  packages/core-macro/Cargo.toml
  packages/core-macro/src/props/mod.rs
  packages/core/src/create.rs
  packages/core/src/diff.rs
  packages/core/src/error_boundary.rs
  packages/core/src/fragment.rs
  packages/core/src/lib.rs
  packages/core/src/nodes.rs
  packages/core/src/properties.rs
  packages/core/src/scopes.rs
  packages/core/src/virtual_dom.rs
  packages/core/tests/fuzzing.rs
  packages/html-internal-macro/Cargo.toml
  packages/html-internal-macro/src/lib.rs
  packages/html-internal-macro/tests/01-simple.rs
  packages/html-internal-macro/tests/progress.rs
  packages/html/Cargo.toml
  packages/html/src/elements.rs
  packages/html/src/events.rs
  packages/html/src/events/mouse.rs
  packages/html/src/global_attributes.rs
  packages/html/src/lib.rs
  packages/native-core/tests/fuzzing.rs
  packages/rsx-rosetta/src/lib.rs
  packages/rsx/src/attribute.rs
  packages/rsx/src/component.rs
  packages/rsx/src/element.rs
  packages/rsx/src/lib.rs
  packages/ssr/src/renderer.rs
  packages/web/src/rehydrate.rs
Labels: enhancement, core, breaking, html

#1610 Serializing FormData while form 'onsubmit'.
  packages/html/Cargo.toml
  packages/html/src/events/form.rs
  packages/interpreter/src/interpreter.js
  packages/rink/src/hooks.rs
  packages/web/src/dom.rs
  packages/web/src/event.rs
Labels: enhancement, breaking, html

#1542 Add a simple nix dev shell
  flake.lock
  flake.nix
Labels: enhancement

#1603 Bump tauri bundler for using proxy to fetch resources
  packages/cli/Cargo.toml
  packages/cli/src/config.rs
Labels: cli, dependencies

#1552 Try making the cache faster using mozilla's cache
  .github/workflows/main.yml
Labels: cli, performance

#1736 Enable the liveview router history by default if the feature is enabled
  packages/router/examples/simple_routes.rs
  packages/router/src/history/liveview.rs
  packages/router/src/router_cfg.rs
Labels: breaking, router, liveview

#1655 Optimize fullstack compile times
  packages/fullstack/Cargo.toml
  packages/fullstack/examples/axum-hello-world/Cargo.toml
  packages/fullstack/examples/salvo-hello-world/Cargo.toml
  packages/fullstack/examples/warp-hello-world/Cargo.toml
  packages/fullstack/src/html_storage/deserialize.rs
  packages/fullstack/src/html_storage/mod.rs
  packages/fullstack/src/html_storage/serialize.rs
  packages/fullstack/src/render.rs
  packages/html/Cargo.toml
  packages/router/Cargo.toml
  packages/rsx/Cargo.toml
  packages/ssr/Cargo.toml
Labels: tweak, performance, fullstack

#1622 Pull out CLI configs into a separate library
  Cargo.toml
  packages/cli-config/.gitignore
  packages/cli-config/Cargo.toml
  packages/cli-config/README.md
  packages/cli-config/src/bundle.rs
  packages/cli-config/src/cargo.rs
  packages/cli-config/src/config.rs
  packages/cli-config/src/lib.rs
  packages/cli/Cargo.toml
  packages/cli/src/assets.rs
  packages/cli/src/builder.rs
  packages/cli/src/cli/autoformat.rs
  packages/cli/src/cli/build.rs
  packages/cli/src/cli/bundle.rs
  packages/cli/src/cli/cfg.rs
  packages/cli/src/cli/check.rs
  packages/cli/src/cli/clean.rs
  packages/cli/src/cli/config.rs
  packages/cli/src/cli/mod.rs
  packages/cli/src/cli/serve.rs
  packages/cli/src/config.rs
  packages/cli/src/error.rs
  packages/cli/src/lib.rs
  packages/cli/src/main.rs
  packages/cli/src/server/desktop/mod.rs
  packages/cli/src/server/fullstack/mod.rs
  packages/cli/src/server/mod.rs
  packages/cli/src/server/output.rs
  packages/cli/src/server/web/mod.rs
  packages/cli/src/server/web/proxy.rs
  packages/desktop/Cargo.toml
  packages/desktop/src/config.rs
  packages/router/Cargo.toml
  packages/router/src/history/web.rs
Labels: cli, tweak

#992 Add file property to drag data
  examples/file_upload.rs
  packages/core/src/diff/node.rs
  packages/desktop/src/app.rs
  packages/desktop/src/config.rs
  packages/desktop/src/webview.rs
  packages/html/Cargo.toml
  packages/html/src/events/drag.rs
  packages/html/src/events/form.rs
  packages/html/src/file_data.rs
  packages/html/src/lib.rs
  packages/html/src/native_bind/native_file_engine.rs
  packages/html/src/web_sys_bind/events.rs
  packages/interpreter/src/interpreter.js
  packages/rink/src/hooks.rs
  packages/web/Cargo.toml
  packages/web/src/event.rs
Labels: enhancement, breaking

#1700 Fix leak in the render macro
  packages/core/src/arena.rs
  packages/core/src/fragment.rs
  packages/core/src/lazynodes.rs
  packages/core/src/nodes.rs
  packages/core/src/scopes.rs
  packages/core/tests/fuzzing.rs
  packages/dioxus-tui/examples/many_small_edit_stress.rs
  packages/native-core/tests/fuzzing.rs
  packages/rsx/src/lib.rs
Labels: bug, core, breaking

#1701 feat: `--split-line-attributes` parameter for CLI `fmt`
  packages/autofmt/src/component.rs
  packages/autofmt/src/element.rs
  packages/autofmt/src/indent.rs
  packages/autofmt/src/lib.rs
  packages/autofmt/tests/wrong.rs
  packages/cli/src/cli/autoformat.rs
  packages/extension/src/lib.rs
Labels: enhancement, autoformatting

#1813 using cargo.toml version
  packages/cli/build.rs
  packages/cli/src/cli/version.rs
Labels: bug, cli

#1807 Only support manganis in the CLI
  Cargo.lock
  Cargo.toml
  packages/cli/src/assets.rs
  packages/cli/src/builder.rs
  packages/cli/src/cli/build.rs
  packages/cli/src/cli/serve.rs
  packages/cli/src/main.rs
  packages/cli/src/server/web/mod.rs
  packages/desktop/Cargo.toml
  packages/desktop/src/app.rs
  packages/desktop/src/collect_assets.rs
  packages/desktop/src/lib.rs
  packages/desktop/src/protocol.rs
  packages/fullstack/Cargo.toml
  packages/fullstack/dist/index.html
  packages/fullstack/src/adapters/axum_adapter.rs
  packages/fullstack/src/adapters/salvo_adapter.rs
  packages/fullstack/src/adapters/warp_adapter.rs
  packages/fullstack/src/collect_assets.rs
  packages/fullstack/src/lib.rs
Labels: enhancement

#1817 Enable serde dependency in the html crate even if eval is disabled
  packages/html/Cargo.toml
Labels: bug, tui

#1812 check for duplicate event listeners in the rsx macro
  packages/autofmt/tests/samples/attributes.rsx
  packages/autofmt/tests/samples/complex.rsx
  packages/core/src/virtual_dom.rs
  packages/rsx/src/element.rs
Labels: bug, core

#1823 Fix mount event
  packages/desktop/headless_tests/events.rs
  packages/liveview/src/pool.rs
  packages/web/src/dom.rs
  playwright-tests/liveview/src/main.rs
  playwright-tests/web/src/main.rs
Labels: bug

#1833 Fix the web form event
  packages/web/src/event.rs
Labels: bug, web

#1863 Add `isComposing` support
  packages/desktop/headless_tests/events.rs
  packages/html/src/events/keyboard.rs
  packages/html/src/web_sys_bind/events.rs
  packages/interpreter/src/interpreter.js
  packages/rink/src/hooks.rs
Labels: enhancement, breaking, html
