Repository DioxusLabs/dioxus, pull requests merged in 2025-07, with the labels that each got.

#4360 Add a bevy-texture example based on wgpu-texture
  .github/workflows/main.yml
  Cargo.lock
  Cargo.toml
  examples/bevy/Cargo.toml
  examples/bevy/src/bevy_renderer.rs
  examples/bevy/src/bevy_scene_plugin.rs
  examples/bevy/src/demo_renderer.rs
  examples/bevy/src/main.rs
  examples/bevy/src/styles.css
  examples/wgpu-texture/src/demo_renderer.rs
  packages/native/Cargo.toml
  packages/native/src/dioxus_document.rs
  packages/native/src/events.rs
  packages/native/src/lib.rs
Labels: enhancement, native

#4364 Native: Accept `winit::WindowAttributes` as a config value
  Cargo.lock
  examples/wgpu-texture/Cargo.toml
  examples/wgpu-texture/src/main.rs
  packages/native/src/lib.rs
Labels: enhancement, native

#4400 Warn about assets being stripped if strip is true and the current package depends on manganis
  packages/cli/src/build/request.rs
Labels: cli

#4410 Avoid the accidental removal of comments inside expressions by dx fmt
  Cargo.lock
  packages/autofmt/Cargo.toml
  packages/autofmt/src/prettier_please.rs
  packages/autofmt/src/writer.rs
  packages/autofmt/tests/samples/comments.rsx
  packages/autofmt/tests/samples/many_exprs.rsx
  packages/autofmt/tests/wrong/multiexpr-many.rsx
Labels: bug, autoformatting

#4436 Fix assets with odd extensions and race condition with the same asset at different paths
  packages/cli-opt/src/file.rs
  packages/cli-opt/src/hash.rs
  packages/cli-opt/src/lib.rs
  packages/cli/src/build/builder.rs
  packages/cli/src/build/request.rs
  packages/cli/src/cli/build_assets.rs
Labels: bug, cli, manganis

#4427 Example of rendering a dioxus-native app to a texture in a Bevy application
  Cargo.lock
  Cargo.toml
  examples/native-headless-in-bevy/Cargo.toml
  examples/native-headless-in-bevy/README.md
  examples/native-headless-in-bevy/src/bevy_scene_plugin.rs
  examples/native-headless-in-bevy/src/dioxus_in_bevy_plugin.rs
  examples/native-headless-in-bevy/src/main.rs
  examples/native-headless-in-bevy/src/ui.css
  examples/native-headless-in-bevy/src/ui.rs
Labels: documentation, native

#4320 CLI: add `--renderer` argument
  Cargo.lock
  Cargo.toml
  packages/cli/src/build/builder.rs
  packages/cli/src/build/context.rs
  packages/cli/src/build/patch.rs
  packages/cli/src/build/request.rs
  packages/cli/src/cli/autoformat.rs
  packages/cli/src/cli/build.rs
  packages/cli/src/cli/bundle.rs
  packages/cli/src/cli/check.rs
  packages/cli/src/cli/run.rs
  packages/cli/src/cli/serve.rs
  packages/cli/src/cli/target.rs
  packages/cli/src/cli/translate.rs
  packages/cli/src/config/bundle.rs
  packages/cli/src/logging.rs
  packages/cli/src/platform.rs
  packages/cli/src/serve/mod.rs
  packages/cli/src/serve/output.rs
  packages/cli/src/serve/proxy.rs
  packages/cli/src/serve/runner.rs
  packages/cli/src/serve/server.rs
  packages/cli/src/serve/update.rs
  packages/cli/src/tailwind.rs
  packages/dioxus/README.md
  packages/native/Cargo.toml
  packages/playwright-tests/barebones-template/README.md
  packages/playwright-tests/playwright.config.js
Labels: breaking, cli, native

#4463 Fix title example on native
  packages/native-dom/src/dioxus_document.rs
Labels: bug, native

#4460 Fix asset location for linux bundles
  packages/asset-resolver/src/lib.rs
  packages/cli-config/src/lib.rs
  packages/cli/src/build/request.rs
Labels: bug, desktop, linux
