Repository DioxusLabs/dioxus, pull requests merged in 2025-03, with the labels that each got.

#3824 Fix the typo checking CI
  packages/autofmt/src/indent.rs
Labels: ci

#3823 Fix span locations in ifmt and components
  packages/rsx/src/component.rs
  packages/rsx/src/ifmt.rs
  packages/rsx/src/template_body.rs
Labels: bug, rsx

#3602 Switch the default server function codec to json
  packages/playwright-tests/fullstack/src/main.rs
  packages/server-macro/src/lib.rs
Labels: breaking, fullstack

#3533 Fix initialising tray icons on the macos desktop platform
  Cargo.lock
  Cargo.toml
  packages/desktop/Cargo.toml
Labels: breaking

#3801 Update: tauri-bundler, tauri-utils
  Cargo.lock
  Cargo.toml
  packages/cli/src/bundle_utils.rs
  packages/cli/src/config/bundle.rs
Labels: dependencies

#3560 Update the server function crate to 0.7
  Cargo.lock
  packages/fullstack/Cargo.toml
  packages/fullstack/src/server/mod.rs
  packages/server-macro/Cargo.toml
Labels: breaking, dependencies, fullstack

#3802 Revision: Cleanup `Dioxus.toml`
  packages/cli/assets/dioxus.toml
  packages/cli/assets/icon.ico
  packages/cli/src/cli/config.rs
Labels: breaking, cli

#3810 Update wry version to 0.50.1
  Cargo.toml
  packages/desktop/Cargo.toml
  packages/desktop/src/config.rs
  packages/desktop/src/webview.rs
  packages/mobile/Cargo.toml
Labels: breaking

#3829 fix(fullstack): Resolve suspense before the head chunk when streaming is disabled
  packages/fullstack/src/render.rs
Labels: bug, fullstack

#3860 Return a 404 when paring the route fails
  Cargo.lock
  Cargo.toml
  packages/core/src/error_boundary.rs
  packages/fullstack/Cargo.toml
  packages/fullstack/src/render.rs
  packages/fullstack/src/server/mod.rs
  packages/isrg/src/lib.rs
  packages/playwright-tests/fullstack-routing.spec.js
  packages/playwright-tests/fullstack-routing/.gitignore
  packages/playwright-tests/fullstack-routing/Cargo.toml
  packages/playwright-tests/fullstack-routing/src/main.rs
  packages/playwright-tests/playwright.config.js
  packages/router/src/components/router.rs
  packages/router/src/contexts/router.rs
  packages/router/src/lib.rs
  packages/router/src/routable.rs
  packages/router/src/router_cfg.rs
  packages/router/tests/via_ssr/link.rs
Labels: breaking, router, fullstack

#3840 adds feature `axum_core` that compiles for wasm target exposing server functions and ssr
  Cargo.lock
  Cargo.toml
  packages/cli/Cargo.toml
  packages/fullstack/Cargo.toml
  packages/fullstack/src/axum_core.rs
  packages/fullstack/src/lib.rs
  packages/fullstack/src/serve_config.rs
  packages/fullstack/src/server/mod.rs
  packages/liveview/Cargo.toml
  packages/playwright-tests/liveview/Cargo.toml
Labels: enhancement, fullstack

#3617 fixed the bug when future restarts the state goes to ready instead of pending
  packages/hooks/src/use_resource.rs
Labels: bug, hooks
