Repository DioxusLabs/dioxus, pull requests merged in 2025-01, with the labels that each got.

#3508 Fix the event handler memory leak
  Cargo.lock
  packages/core/Cargo.toml
  packages/core/tests/memory_leak.rs
  packages/html/src/events/mod.rs
Labels: bug, html

#3098 Dioxus Playground Hot Reload Support
  packages/web/src/devtools.rs
Labels: enhancement, web

#3484 Fix Routable::parent with hash segments and query params
  packages/router/src/routable.rs
  packages/router/tests/parent.rs
Labels: bug, router

#3287 Fix hydration of suspense fragments that contain text nodes
  .cargo/config.toml
  packages/core/src/root_wrapper.rs
  packages/desktop/src/document.rs
  packages/document/src/document.rs
  packages/document/src/elements/link.rs
  packages/document/src/elements/meta.rs
  packages/document/src/elements/script.rs
  packages/document/src/elements/style.rs
  packages/fullstack/src/document/server.rs
  packages/fullstack/src/document/web.rs
  packages/fullstack/src/hooks/server_cached.rs
  packages/fullstack/src/hooks/server_future.rs
  packages/fullstack/src/html_storage/mod.rs
  packages/fullstack/src/html_storage/serialize.rs
  packages/fullstack/src/render.rs
  packages/fullstack/src/streaming.rs
  packages/interpreter/src/js/core.js
  packages/interpreter/src/js/hash.txt
  packages/interpreter/src/js/hydrate.js
  packages/interpreter/src/js/initialize_streaming.js
  packages/interpreter/src/lib.rs
  packages/interpreter/src/ts/core.ts
  packages/interpreter/src/ts/hydrate.ts
  packages/interpreter/src/ts/hydrate_types.ts
  packages/interpreter/src/ts/initialize_streaming.ts
  packages/liveview/src/document.rs
  packages/playwright-tests/nested-suspense/assets/style.css
  packages/playwright-tests/nested-suspense/src/main.rs
  packages/web/src/document.rs
  packages/web/src/hydration/deserialize.rs
  packages/web/src/hydration/hydrate.rs
  packages/web/src/hydration/mod.rs
  packages/web/src/lib.rs
Labels: bug, fullstack

#3480 Fix mounted event after initial hydration
  Cargo.lock
  Cargo.toml
  packages/playwright-tests/fullstack-mounted.spec.js
  packages/playwright-tests/fullstack-mounted/Cargo.toml
  packages/playwright-tests/fullstack-mounted/src/main.rs
  packages/playwright-tests/playwright.config.js
  packages/web/src/lib.rs
  packages/web/src/mutations.rs
Labels: bug, fullstack

#3505 Improve error message when dx is called on a virtual or library package
  packages/cli/src/cli/bundle.rs
  packages/cli/src/dioxus_crate.rs
Labels: cli

#3396 Fix the test_stream function running after the stream is closed
  examples/fullstack-streaming/src/main.rs
Labels: bug, example, fullstack

#3525 Fix: Asset Cache On Windows & Asset Status
  Cargo.lock
  Cargo.toml
  packages/cli/Cargo.toml
  packages/cli/src/build/bundle.rs
  packages/cli/src/serve/handle.rs
  packages/desktop/Cargo.toml
  packages/manganis/manganis-macro/Cargo.toml
  packages/manganis/manganis-macro/src/asset.rs
Labels: bug, cli, manganis

#3536 Remove empty doctor command
  packages/cli/src/cli/doctor.rs
  packages/cli/src/cli/mod.rs
  packages/cli/src/main.rs
Labels: bug, cli

#3532 Fix pointer provenance in const serialize with zero sized type enum variants
  packages/const-serialize/src/lib.rs
Labels: bug, const-serialize

#3539 Fix: Enable `keep_fn_names` In SWC Mangling
  Cargo.lock
  packages/cli-opt/Cargo.toml
  packages/cli-opt/src/js.rs
Labels: enhancement, cli

#3555 docs: demonstrate extending both global and element attributes
  packages/core-macro/docs/component.md
  packages/core-macro/docs/props.md
Labels: documentation, core

#3561 fix: cli pakage name search
  packages/cli/src/dioxus_crate.rs
Labels: bug, cli

#3568 Fix rsx expression autocomplete
  packages/rsx/src/template_body.rs
Labels: bug, rsx

#3569 Fix repeated subscription to dropped scope leak
  packages/core/src/reactive_context.rs
Labels: bug, signals

#3598 Simplify fullstack auth example
  examples/fullstack-auth/src/auth.rs
  examples/fullstack-auth/src/main.rs
  packages/fullstack/src/server_context.rs
Labels: example, fullstack

#3597 Fix fullstack hackernews example instructions
  example-projects/fullstack-hackernews/src/main.rs
Labels: bug, example

#3347 Fix: `always-on-top` setting
  packages/cli/src/serve/handle.rs
Labels: enhancement, cli

#3567 Fix hot reload diffing to empty rsx
  packages/rsx-hotreload/src/diff.rs
  packages/rsx-hotreload/tests/hotreload_pattern.rs
  packages/rsx/src/template_body.rs
Labels: bug, hot-reload, rsx

#3613 Remove the todo list from the examples readme
  examples/README.md
Labels: documentation, example

#3531 Optimize wasm bindgen asset with manganis
  .github/workflows/main.yml
  .github/workflows/publish.yml
  Cargo.lock
  Cargo.toml
  flake.lock
  packages/cli-opt/Cargo.toml
  packages/cli-opt/src/file.rs
  packages/cli-opt/src/folder.rs
  packages/cli-opt/src/js.rs
  packages/cli/Cargo.toml
  packages/cli/src/build/bundle.rs
  packages/cli/src/build/request.rs
  packages/cli/src/build/web.rs
  packages/cli/src/cli/mod.rs
  packages/cli/src/serve/proxy.rs
  packages/desktop/src/app.rs
  packages/desktop/src/webview.rs
  packages/liveview/src/history.rs
  packages/manganis/manganis-core/src/asset.rs
  packages/manganis/manganis-core/src/hash.rs
  packages/manganis/manganis-core/src/lib.rs
  packages/manganis/manganis-macro/src/asset.rs
  packages/manganis/manganis/src/macro_helpers.rs
  packages/playwright-tests/cli-optimization.spec.js
  packages/playwright-tests/cli-optimization/.gitignore
  packages/playwright-tests/cli-optimization/Cargo.toml
  packages/playwright-tests/cli-optimization/build.rs
  packages/playwright-tests/cli-optimization/src/main.rs
  packages/playwright-tests/playwright.config.js
Labels: bug, cli, performance, fullstack

#3640 Use the launch builder instead of web launch in the fullstack auth example
  examples/fullstack-auth/src/main.rs
Labels: example, fullstack

#3656 Fix web eval return
  packages/playwright-tests/web/src/main.rs
  packages/web/src/document.rs
Labels: bug, web

#3647 Ignore write while rendering warning in memo lazy recompute
  packages/signals/src/memo.rs
Labels: signals

#3664 Fix the pwa example
  examples/pwa/index.html
  examples/pwa/public/manifest.json
Labels: bug, example

#3625 Fix additional attributes for js renderers
  packages/document/src/elements/link.rs
  packages/document/src/elements/meta.rs
  packages/document/src/elements/mod.rs
  packages/document/src/elements/script.rs
  packages/document/src/elements/style.rs
  packages/fullstack/src/document/server.rs
  packages/playwright-tests/fullstack.spec.js
  packages/playwright-tests/fullstack/src/main.rs
  packages/playwright-tests/web.spec.js
  packages/playwright-tests/web/src/main.rs
Labels: bug, html

#3629 Add examples for LaunchBuilder methods
  packages/dioxus/src/launch.rs
Labels: documentation

#3176 Remove the stylesheet component
  packages/document/src/elements/style.rs
Labels: breaking, tweak, html
