Repository DioxusLabs/dioxus, pull requests merged in 2025-05, with the labels that each got.

#4035 Fix parsing of braced expressions followed by a method
  packages/rsx/src/raw_expr.rs
  packages/rsx/tests/parsing.rs
Labels: bug, rsx

#3952 Support scrollIntoView alignment options
  packages/desktop/src/element.rs
  packages/html/src/events/mounted.rs
  packages/interpreter/src/js/hash.txt
  packages/interpreter/src/js/native.js
  packages/interpreter/src/ts/native.ts
  packages/liveview/src/element.rs
  packages/web/src/events/mounted.rs
Labels: enhancement, breaking, html

#4041 Fix clearing error boundaries
  packages/core/src/error_boundary.rs
  packages/core/tests/error_boundary.rs
Labels: bug, core

#3949 Fix the base path in desktop builds
  Cargo.lock
  packages/cli/src/build/builder.rs
  packages/cli/src/build/request.rs
  packages/cli/src/config/web.rs
Labels: bug, desktop, cli

#3895 Fix dx serve proxying of websocket connections established from the browser
  packages/cli/Cargo.toml
  packages/cli/src/serve/mod.rs
  packages/cli/src/serve/proxy.rs
  packages/cli/src/serve/proxy_ws.rs
Labels: bug, cli

#4109 Fix web redirect routes
  Cargo.lock
  Cargo.toml
  packages/playwright-tests/playwright.config.js
  packages/playwright-tests/web-routing.spec.js
  packages/playwright-tests/web-routing/.gitignore
  packages/playwright-tests/web-routing/Cargo.toml
  packages/playwright-tests/web-routing/src/main.rs
  packages/router/src/contexts/router.rs
Labels: bug, web, router

#4145 Fix authentication example
  examples/fullstack-auth/Cargo.toml
Labels: bug, example, fullstack

#4166 fix: Make `Writable::toggle` use peek to avoid subscribing as `Readable::Cloned` uses `Readable::read`
  packages/signals/src/write.rs
Labels: bug, signals

#4176 Fix setting option value to an empty string
  packages/interpreter/src/js/common.js
  packages/interpreter/src/js/core.js
  packages/interpreter/src/js/hash.txt
  packages/interpreter/src/js/hydrate.js
  packages/interpreter/src/js/initialize_streaming.js
  packages/interpreter/src/js/native.js
  packages/interpreter/src/js/patch_console.js
  packages/interpreter/src/ts/set_attribute.ts
  packages/subsecond/subsecond/src/lib.rs
Labels: bug

#4170 Enable serve_dioxus_application for WASM targets
  packages/server/src/server.rs
Labels: enhancement, breaking, fullstack

#3814 debugger support for dx
  packages/cli/src/build/builder.rs
  packages/cli/src/build/context.rs
  packages/cli/src/build/request.rs
  packages/cli/src/cli/run.rs
  packages/cli/src/serve/mod.rs
  packages/cli/src/serve/output.rs
  packages/cli/src/serve/runner.rs
  packages/cli/src/serve/server.rs
  packages/cli/src/serve/update.rs
  packages/devtools/src/lib.rs
  packages/extension/.gitignore
  packages/extension/package.json
  packages/extension/src/main.ts
Labels: cli

#4127 Clarify schedule_update docs
  packages/core/src/global_context.rs
  packages/core/src/scope_context.rs
Labels: documentation

#4215 chore(ssr): update `askama_escape` dependency
  Cargo.lock
  Cargo.toml
  packages/ssr/src/renderer.rs
  packages/ssr/tests/escape.rs
  packages/ssr/tests/simple.rs
Labels: ssr, dependencies

#4211 Fix dx bundle and release web builds
  packages/cli/src/build/request.rs
  packages/cli/src/cli/bundle.rs
Labels: bug, cli

#4128 Remove schedule_update and schedule_update_any from prelude
  packages/core/src/lib.rs
Labels: core, breaking

#3988 Move asset hashing into the CLI
  Cargo.lock
  packages/asset-resolver/src/lib.rs
  packages/cli-opt/Cargo.toml
  packages/cli-opt/build.rs
  packages/cli-opt/src/build_info.rs
  packages/cli-opt/src/css.rs
  packages/cli-opt/src/file.rs
  packages/cli-opt/src/hash.rs
  packages/cli-opt/src/image/mod.rs
  packages/cli-opt/src/js.rs
  packages/cli-opt/src/lib.rs
  packages/cli/Cargo.toml
  packages/cli/src/build/assets.rs
  packages/cli/src/build/builder.rs
  packages/cli/src/build/mod.rs
  packages/cli/src/build/request.rs
  packages/cli/src/cli/build_assets.rs
  packages/cli/src/error.rs
  packages/cli/src/serve/output.rs
  packages/cli/src/serve/runner.rs
  packages/const-serialize/src/const_buffers.rs
  packages/const-serialize/src/const_vec.rs
  packages/const-serialize/src/lib.rs
  packages/const-serialize/tests/enum.rs
  packages/core/src/scope_context.rs
  packages/manganis/manganis-core/src/asset.rs
  packages/manganis/manganis-core/src/css.rs
  packages/manganis/manganis-core/src/folder.rs
  packages/manganis/manganis-core/src/hash.rs
  packages/manganis/manganis-core/src/images.rs
  packages/manganis/manganis-core/src/js.rs
  packages/manganis/manganis-core/src/lib.rs
  packages/manganis/manganis-core/src/linker.rs
  packages/manganis/manganis-core/src/options.rs
  packages/manganis/manganis-macro/src/asset.rs
  packages/manganis/manganis-macro/src/linker.rs
  packages/manganis/manganis/src/hash.rs
  packages/manganis/manganis/src/lib.rs
  packages/manganis/manganis/src/macro_helpers.rs
  packages/playwright-tests/cli-optimization.spec.js
  packages/playwright-tests/cli-optimization/src/main.rs
  packages/playwright-tests/nested-suspense-ssg.spec.js
  packages/playwright-tests/playwright.config.js
  packages/playwright-tests/wasm-split-harness/.cargo/config.toml
  packages/playwright-tests/web.spec.js
Labels: bug, breaking, cli, manganis

#4226 re-enable linux arm64 in CI for tests and release
  .github/workflows/main.yml
  .github/workflows/publish.yml
Labels: ci
