Repository DioxusLabs/dioxus, pull requests merged in 2025-10, with the labels that each got.

#4640 Fix hydration error suspense
  Cargo.lock
  Cargo.toml
  packages/core/src/error_boundary.rs
  packages/core/src/lib.rs
  packages/fullstack-hooks/Cargo.toml
  packages/fullstack-hooks/src/errors.rs
  packages/fullstack-hooks/src/lib.rs
  packages/fullstack-protocol/src/lib.rs
  packages/playwright-tests/fullstack-errors.spec.js
  packages/playwright-tests/fullstack-errors/.gitignore
  packages/playwright-tests/fullstack-errors/Cargo.toml
  packages/playwright-tests/fullstack-errors/src/main.rs
  packages/playwright-tests/playwright.config.js
  packages/server/src/render.rs
  packages/web/src/lib.rs
Labels: bug, fullstack

#4721 Fix chained attribute if statements with static strings
  packages/core/tests/conditional_formatted_attributes.rs
  packages/rsx/src/attribute.rs
Labels: bug, rsx

#4600 Fix fullstack serialization order for adjacent components
  Cargo.lock
  Cargo.toml
  packages/fullstack-server/src/ssr.rs
  packages/playwright-tests/fullstack-hydration-order.spec.js
  packages/playwright-tests/fullstack-hydration-order/Cargo.toml
  packages/playwright-tests/fullstack-hydration-order/src/main.rs
  packages/playwright-tests/fullstack.spec.js
  packages/playwright-tests/playwright.config.js
Labels: bug, fullstack

#4647 Fix hydration with empty spread attributes
  Cargo.lock
  Cargo.toml
  packages/core/src/diff/node.rs
  packages/playwright-tests/fullstack-spread.spec.js
  packages/playwright-tests/fullstack-spread/Cargo.toml
  packages/playwright-tests/fullstack-spread/src/main.rs
  packages/playwright-tests/playwright.config.js
  packages/web/src/hydration/hydrate.rs
Labels: bug, fullstack

#4608 Sync ReadSignal and Store
  packages/core-macro/src/props/mod.rs
  packages/signals/examples/send_store.rs
  packages/signals/src/boxed.rs
  packages/stores/src/store.rs
Labels: enhancement, signals

#4731 Upgrade to Blitz v0.2.0
  .github/workflows/main.yml
  .github/workflows/publish.yml
  Cargo.lock
  Cargo.toml
  examples/08-apis/wgpu_child_window.rs
  examples/10-integrations/bevy/Cargo.toml
  examples/10-integrations/bevy/src/bevy_renderer.rs
  examples/10-integrations/bevy/src/demo_renderer.rs
  examples/10-integrations/native-headless-in-bevy/Cargo.toml
  examples/10-integrations/native-headless-in-bevy/src/bevy_scene_plugin.rs
  examples/10-integrations/native-headless-in-bevy/src/dioxus_in_bevy_plugin.rs
  examples/10-integrations/native-headless-in-bevy/src/ui.css
  examples/10-integrations/native-headless-in-bevy/src/ui.rs
  examples/10-integrations/native-headless/Cargo.toml
  examples/10-integrations/native-headless/src/main.rs
  examples/10-integrations/wgpu-texture/src/demo_renderer.rs
  examples/assets/todomvc.css
  packages/cli/Cargo.toml
  packages/cli/src/cargo_toml.rs
  packages/cli/src/cli/create.rs
  packages/fullstack-server/src/config.rs
  packages/generational-box/src/error.rs
  packages/generational-box/src/sync.rs
  packages/native/Cargo.toml
  packages/native/src/dioxus_renderer.rs
  packages/native/src/lib.rs
Labels: dependencies, native

#4735 Fix ReadOnlySignal alias without storage
  packages/signals/src/boxed.rs
Labels: bug, signals
