Repository DioxusLabs/dioxus, pull requests merged in 2025-08, with the labels that each got.

#4483 Stores: Externally tracked state and reactive collections
  Cargo.lock
  Cargo.toml
  examples/todomvc_store.rs
  packages/core-macro/src/props/mod.rs
  packages/core/src/reactive_context.rs
  packages/dioxus/Cargo.toml
  packages/dioxus/src/lib.rs
  packages/generational-box/src/lib.rs
  packages/generational-box/src/references.rs
  packages/generational-box/src/sync.rs
  packages/generational-box/src/unsync.rs
  packages/generational-box/tests/basic.rs
  packages/generational-box/tests/errors.rs
  packages/generational-box/tests/reference_counting.rs
  packages/generational-box/tests/reused.rs
  packages/hooks/src/use_future.rs
  packages/hooks/src/use_memo.rs
  packages/hooks/src/use_resource.rs
  packages/hooks/src/use_set_compare.rs
  packages/router/src/contexts/router.rs
  packages/signals/docs/memo.md
  packages/signals/src/boxed.rs
  packages/signals/src/copy_value.rs
  packages/signals/src/global/memo.rs
  packages/signals/src/global/mod.rs
  packages/signals/src/global/signal.rs
  packages/signals/src/impls.rs
  packages/signals/src/map.rs
  packages/signals/src/map_mut.rs
  packages/signals/src/memo.rs
  packages/signals/src/props.rs
  packages/signals/src/read.rs
  packages/signals/src/set_compare.rs
  packages/signals/src/signal.rs
  packages/signals/src/warnings.rs
  packages/signals/src/write.rs
  packages/stores-macro/Cargo.toml
  packages/stores-macro/src/derive.rs
  packages/stores-macro/src/extend.rs
  packages/stores-macro/src/lib.rs
  packages/stores/Cargo.toml
  packages/stores/README.md
  packages/stores/src/impls/btreemap.rs
  packages/stores/src/impls/deref.rs
  packages/stores/src/impls/hashmap.rs
  packages/stores/src/impls/index.rs
  packages/stores/src/impls/mod.rs
  packages/stores/src/impls/option.rs
  packages/stores/src/impls/result.rs
  packages/stores/src/impls/slice.rs
  packages/stores/src/impls/vec.rs
  packages/stores/src/lib.rs
  packages/stores/src/scope.rs
  packages/stores/src/store.rs
  packages/stores/src/subscriptions.rs
  packages/stores/tests/coercions.rs
  packages/stores/tests/marco.rs
Labels: enhancement

#4538 Bump Blitz to 0.1.0-rc.3 (+dangerous_inner_html + style ns attrs)
  Cargo.lock
  Cargo.toml
  examples/rsx_usage.rs
  packages/native-dom/src/mutation_writer.rs
  packages/native/Cargo.toml
  packages/native/src/lib.rs
Labels: native

#4556 Don't output escape codes for the cursor when the tui isn't active
  packages/cli/src/logging.rs
Labels: bug, cli

#4572 Fix store macro with struct bounds
  packages/stores-macro/src/derive.rs
  packages/stores/tests/marco.rs
Labels: bug, stores

#4619 Upgrade Blitz to v0.1.0
  Cargo.lock
  Cargo.toml
  packages/native-dom/src/dioxus_document.rs
Labels: dependencies, native

#4620 Remove transitions from todomvc stylesheet
  examples/assets/todomvc.css
Labels: example, native
