Repository DioxusLabs/dioxus, pull requests merged in 2025-02, with the labels that each got.

#3701 Fix serving desktop+fullstack apps that have not set a server url
  packages/dioxus/src/launch.rs
Labels: bug, desktop, fullstack

#3707 fix onload and onerror parsing error
  packages/html/src/events/image.rs
Labels: bug, html

#3692 Allow Missing Prop Docs
  packages/core-macro/src/component.rs
Labels: enhancement

#3682 Fix: Stop Failing Silently When Bundling Windows
  packages/cli/src/cli/bundle.rs
Labels: enhancement, cli, windows, bundle

#3680 Feat: Ability To Disable File Drop Handler
  packages/desktop/src/config.rs
  packages/desktop/src/webview.rs
Labels: bug, enhancement, desktop, windows

#3630 Hash and compare templates by value in debug mode
  packages/core/src/nodes.rs
  packages/router/tests/via_ssr/main.rs
  packages/router/tests/via_ssr/navigation.rs
Labels: bug, core

#3804 Prevent default if an onclick event is triggered on a button under a form
  packages/interpreter/src/js/common.js
  packages/interpreter/src/js/core.js
  packages/interpreter/src/js/hash.txt
  packages/interpreter/src/js/hydrate.js
  packages/interpreter/src/js/initialize_streaming.js
  packages/interpreter/src/js/native.js
  packages/interpreter/src/js/patch_console.js
  packages/interpreter/src/ts/native.ts
Labels: bug, desktop

#3776 Revision: Open Browser With Localhost
  packages/cli/src/cli/run.rs
  packages/cli/src/serve/handle.rs
  packages/cli/src/serve/mod.rs
  packages/cli/src/serve/runner.rs
Labels: cli

#3483 Add helper methods to provide a single clone server only context
  packages/fullstack/src/serve_config.rs
  packages/fullstack/src/server/mod.rs
Labels: enhancement, fullstack

#3595 Fix --target flag not passed to cargo when Platform == Server
  packages/cli/src/build/request.rs
  packages/cli/src/cli/target.rs
Labels: cli
