Repository DioxusLabs/dioxus, pull requests merged in 2025-06, with the labels that each got.

#4213 Fix url encoding query and implement FromQueryArgument for Option<T>
  Cargo.lock
  Cargo.toml
  packages/asset-resolver/Cargo.toml
  packages/asset-resolver/src/lib.rs
  packages/desktop/Cargo.toml
  packages/router-macro/src/hash.rs
  packages/router-macro/src/lib.rs
  packages/router-macro/src/query.rs
  packages/router-macro/src/segment.rs
  packages/router/Cargo.toml
  packages/router/src/lib.rs
  packages/router/src/routable.rs
  packages/router/tests/parsing.rs
Labels: bug, enhancement, breaking, router

#4242 Allow changing the base path from a cli arg
  packages/cli/src/build/builder.rs
  packages/cli/src/build/request.rs
  packages/cli/src/cli/target.rs
  packages/cli/src/serve/server.rs
Labels: enhancement, cli

#4247 Always download wasm opt from the binary
  .github/workflows/main.yml
  .github/workflows/publish.yml
  packages/cli/Cargo.toml
  packages/cli/src/build/request.rs
  packages/cli/src/wasm_opt.rs
  packages/playwright-tests/playwright.config.js
Labels: bug, cli

#4286 Upgrade Blitz to `0.1.0-alpha.3` and add wgpu-texture example
  Cargo.lock
  Cargo.toml
  examples/wgpu-texture/Cargo.toml
  examples/wgpu-texture/src/demo_renderer.rs
  examples/wgpu-texture/src/main.rs
  examples/wgpu-texture/src/shader.wgsl
  examples/wgpu-texture/src/styles.css
  packages/native/Cargo.toml
  packages/native/src/dioxus_application.rs
  packages/native/src/dioxus_renderer.rs
  packages/native/src/lib.rs
Labels: native

#4212 Fix `--args` and handle merging in `@server` and `@client`
  packages/cli/src/build/builder.rs
  packages/cli/src/build/request.rs
  packages/cli/src/cli/build.rs
  packages/cli/src/cli/bundle.rs
  packages/cli/src/cli/check.rs
  packages/cli/src/cli/mod.rs
  packages/cli/src/cli/platform_override.rs
  packages/cli/src/cli/serve.rs
  packages/cli/src/cli/target.rs
  packages/cli/src/serve/runner.rs
Labels: bug, cli

#4289 Switch to owned listener type
  packages/core-types/src/event.rs
  packages/core/src/events.rs
  packages/core/src/lib.rs
  packages/core/src/nodes.rs
  packages/html/src/events/mod.rs
Labels: core, breaking

#4217 feat: Opt-out `html` in `dioxus-router`
  Cargo.toml
  packages/router/Cargo.toml
  packages/router/src/lib.rs
  packages/router/src/router_cfg.rs
Labels: router

#4209 Fix router hydration
  Cargo.lock
  packages/dioxus/src/launch.rs
  packages/fullstack-hooks/Cargo.toml
  packages/fullstack-hooks/src/history.rs
  packages/fullstack-hooks/src/lib.rs
  packages/fullstack/src/lib.rs
  packages/playwright-tests/fullstack-routing/src/main.rs
  packages/router/src/components/router.rs
  packages/server/src/render.rs
  packages/web/src/lib.rs
Labels: bug, fullstack

#3693 Use different release profiles for desktop and server builds, adhoc profiles
  packages/cli/src/build/request.rs
  packages/cli/src/platform.rs
  packages/cli/src/workspace.rs
  packages/fullstack/Cargo.toml
Labels: bug, desktop, cli, fullstack

#4205 Implement Into<CaptureError> for the default server function error type
  examples/fullstack-auth/src/auth.rs
  examples/fullstack-auth/src/main.rs
  examples/fullstack-desktop/src/main.rs
  examples/fullstack-hello-world/src/main.rs
  examples/fullstack-router/src/main.rs
  examples/fullstack-streaming/src/main.rs
  examples/fullstack-websockets/src/main.rs
  packages/fullstack/README.md
  packages/fullstack/docs/request_origin.md
  packages/fullstack/src/error.rs
  packages/fullstack/src/lib.rs
  packages/playwright-tests/default-features-disabled/src/main.rs
  packages/playwright-tests/fullstack/src/main.rs
  packages/playwright-tests/nested-suspense/src/lib.rs
  packages/playwright-tests/nested-suspense/src/ssg.rs
  packages/server-macro/src/lib.rs
  packages/server/docs/request_origin.md
  packages/server/src/config.rs
  packages/server/src/context.rs
  packages/server/src/lib.rs
Labels: enhancement, breaking, fullstack

#4111 Restore SSG serve logic
  packages/cli-opt/src/lib.rs
  packages/cli/Cargo.toml
  packages/cli/src/build/builder.rs
  packages/cli/src/build/mod.rs
  packages/cli/src/build/pre_render.rs
  packages/cli/src/build/request.rs
  packages/cli/src/cli/build.rs
  packages/cli/src/cli/bundle.rs
  packages/cli/src/cli/run.rs
  packages/cli/src/logging.rs
  packages/cli/src/serve/mod.rs
  packages/cli/src/serve/output.rs
  packages/cli/src/serve/runner.rs
  packages/dx-wire-format/src/lib.rs
  packages/playwright-tests/nested-suspense-ssg.spec.js
  packages/playwright-tests/playwright.config.js
  packages/server-macro/src/lib.rs
Labels: cli, static-generation

#4335 Upgrade to Blitz `0.1.0-alpha.4`
  Cargo.lock
  examples/wgpu-texture/Cargo.toml
  examples/wgpu-texture/src/main.rs
  examples/wgpu-texture/src/styles.css
  packages/native/Cargo.toml
  packages/native/src/mutation_writer.rs
Labels: native
