Repository DioxusLabs/dioxus, pull requests merged in 2025-04, with the labels that each got.

#3912 Fix windows CI by removing virtual file system cache
  .github/workflows/main.yml
  .github/workflows/setup-dev-drive.ps1
Labels: ci, windows

#3925 Remove default features when fullstack is enabled and one platform is enabled in the default features
  Cargo.lock
  Cargo.toml
  packages/cli/src/build/request.rs
  packages/cli/src/cli/build.rs
  packages/cli/src/cli/bundle.rs
  packages/cli/src/cli/run.rs
  packages/cli/src/cli/serve.rs
  packages/cli/src/dioxus_crate.rs
  packages/cli/src/serve/output.rs
  packages/playwright-tests/default-features-disabled.spec.js
  packages/playwright-tests/default-features-disabled/.gitignore
  packages/playwright-tests/default-features-disabled/Cargo.toml
  packages/playwright-tests/default-features-disabled/src/main.rs
  packages/playwright-tests/playwright.config.js
Labels: cli, fullstack

#3881 Allow spread attributes to be set directly
  packages/core-macro/src/props/mod.rs
  packages/document/src/elements/link.rs
  packages/ssr/tests/forward_spreads.rs
Labels: core, breaking, rsx

#3951 Fix component macro with where clause
  packages/core-macro/src/component.rs
  packages/core-macro/tests/generics.rs
Labels: bug, core

#3953 Fix select multiple default value
  packages/interpreter/src/js/common.js
  packages/interpreter/src/js/core.js
  packages/interpreter/src/js/hash.txt
  packages/interpreter/src/ts/set_attribute.ts
  packages/playwright-tests/web.spec.js
  packages/playwright-tests/web/src/main.rs
Labels: bug

#3936 Fix key validation logic
  packages/rsx/src/template_body.rs
  packages/rsx/tests/parsing.rs
Labels: bug, rsx

#3891 Wait for the suspense boundary above the router to resolve before sending the first streaming chunk
  Cargo.lock
  Cargo.toml
  examples/fullstack-router/src/main.rs
  packages/core/src/global_context.rs
  packages/core/src/lib.rs
  packages/core/src/runtime.rs
  packages/core/src/scope_context.rs
  packages/core/src/suspense/component.rs
  packages/core/src/suspense/mod.rs
  packages/fullstack-hooks/Cargo.toml
  packages/fullstack-hooks/README.md
  packages/fullstack-hooks/src/hooks/mod.rs
  packages/fullstack-hooks/src/hooks/server_cached.rs
  packages/fullstack-hooks/src/hooks/server_future.rs
  packages/fullstack-hooks/src/lib.rs
  packages/fullstack-hooks/src/streaming.rs
  packages/fullstack-protocol/Cargo.toml
  packages/fullstack-protocol/README.md
  packages/fullstack-protocol/src/lib.rs
  packages/fullstack/Cargo.toml
  packages/fullstack/src/axum_core.rs
  packages/fullstack/src/document/mod.rs
  packages/fullstack/src/document/server.rs
  packages/fullstack/src/document/web.rs
  packages/fullstack/src/hooks/mod.rs
  packages/fullstack/src/html_storage/mod.rs
  packages/fullstack/src/html_storage/serialize.rs
  packages/fullstack/src/lib.rs
  packages/fullstack/src/render.rs
  packages/fullstack/src/serve_config.rs
  packages/fullstack/src/server_context.rs
  packages/fullstack/src/streaming.rs
  packages/hooks/src/lib.rs
  packages/hooks/src/use_after_suspense_resolved.rs
  packages/playwright-tests/fullstack/src/main.rs
  packages/playwright-tests/nested-suspense/src/lib.rs
  packages/playwright-tests/suspense-carousel/src/main.rs
  packages/playwright-tests/test-results/.last-run.json
  packages/router/Cargo.toml
  packages/router/src/components/router.rs
  packages/web/Cargo.toml
  packages/web/src/hydration/deserialize.rs
  packages/web/src/hydration/hydrate.rs
  packages/web/src/hydration/mod.rs
  packages/web/src/lib.rs
Labels: enhancement, fullstack

#3820 Changes to support axum 0.8
  Cargo.lock
  Cargo.toml
  examples/fullstack-auth/Cargo.toml
  examples/fullstack-auth/src/auth.rs
  examples/fullstack-auth/src/main.rs
  packages/cli/src/serve/proxy.rs
  packages/cli/src/serve/server.rs
  packages/fullstack/Cargo.toml
  packages/fullstack/src/axum_core.rs
  packages/liveview/src/adapters/axum_adapter.rs
  packages/playwright-tests/package-lock.json
  packages/playwright-tests/package.json
  packages/server-macro/Cargo.toml
  packages/server-macro/src/lib.rs
Labels: breaking, dependencies, fullstack

#3877 Fix: Eval Prematurely Dropping
  packages/desktop/src/js/hash.txt
  packages/desktop/src/js/native_eval.js
  packages/desktop/src/query.rs
  packages/desktop/src/ts/native_eval.ts
  packages/document/src/js/hash.txt
  packages/document/src/ts/eval.ts
  packages/web/src/document.rs
  packages/web/src/js/eval.js
  packages/web/src/js/hash.txt
  packages/web/src/ts/eval.ts
Labels: bug, javascript

#3935 Fix javascript asset bundling errors and fallback
  packages/cli-opt/src/js.rs
Labels: bug, cli

#3578 Manganis CSS Modules Support
  packages/cli-opt/src/css.rs
  packages/cli-opt/src/file.rs
  packages/manganis/manganis-core/src/css.rs
  packages/manganis/manganis-core/src/options.rs
  packages/manganis/manganis-macro/src/asset.rs
  packages/manganis/manganis-macro/src/css_module.rs
  packages/manganis/manganis-macro/src/lib.rs
  packages/manganis/manganis/src/lib.rs
  packages/manganis/manganis/src/macro_helpers.rs
Labels: enhancement, breaking, cli, manganis

#3419 fix(fullstack): Allow configuration of the public_path
  packages/fullstack/src/serve_config.rs
Labels: cli

#3429 feat: add cli support to build assets from executable
  packages/cli/src/cli/build_assets.rs
  packages/cli/src/cli/mod.rs
  packages/cli/src/main.rs
  packages/manganis/manganis-core/src/asset.rs
Labels: cli

#4012 Fix: Toast Flash of Unstyled Content
  packages/cli/assets/web/toast.html
Labels: web, cli

#4054 Fix JS deprecation warning in wasm init
  packages/cli/src/build/web.rs
Labels: web, cli
